<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Abril Bienestar Integral</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
  <script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>
  <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Abril Bienestar Integral" />
  <meta property="og:description" content="Comienza  una Vida en Bienestar AHORA y aprende a Vivir Relajadamente" />
  <meta property="og:image" content="https://bienestarintegral.herokuapp.com/img/logo.jpg" />
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <!-- WhatsHelp.io widget -->
  <script type="text/javascript">
    (function () {
      var options = {
        whatsapp: "+5218110709101", // WhatsApp number
        call_to_action: "Message us", // Call to action
        position: "right", // Position may be 'right' or 'left'
      };
      var proto = document.location.protocol,
        host = "whatshelp.io",
        url = proto + "//static." + host;
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () {
        WhWidgetSendButton.init(host, proto, options);
      };
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    })();
  </script>
  <!-- /WhatsHelp.io widget -->
</head>