<div class="align-left p-5">
  <p>Has recibido una solicitud de Bienestar Corporativo con la siguiente información:</p>
  {{#each data}}
  <p>- <span class="text-primary">{{question}}: </span>{{value}}</p>
  {{/each}}
</div>