<div class="align-left p-5">
  <h3 class="text-primary">Hola!</h3>
  <p>Nos da mucho gusto saludarte. Hoy es un gran día porque has recibido un certificado de regalo por el monto de
    <span class="text-primary font-weigth-bold big">{{amount}}</span> para Abril Bienestar Integral.</p>
  <p>Si esta será tu primera vez con nosotros, puedes conocer más en nuestro <a href="{{emailUrlFor 'home'}}">sitio
      web</a></p>
  <p>Puedes usar este certificado de regalo en cualquiera de tus compras que realices.</p>
  <br>
  <p>Si aún no estás registrado con nosotros, sigue los siguientes pasos:</p>
  <p>- Ingresa a {{emailUrlFor 'login'}}</p>
  <p>- Registra tu cuenta</p>
  <p>- Selecciona la opción <b>"Tarjetas de regalo"</b> o hazlo mediante este <a href="{{emailUrlFor 'client-gift'}}">link</a></p>
  <p>- Ingresa el código proporcionado en este email</p>
  <p>- En tu próxima compra, podrás comenzar a usar tu certificado de regalo</p>
  <br>
  <p><i>¿Qué pasa si el saldo de mi certificado de regalo es <b>mayor</b> al total a pagar?</i></p>
  <p>No te preocupes, el saldo restante quedará disponible para tu siguiente compra</p>
  <p><i>Entonces, ¿Qué pasa si el saldo de mi certificado de regalo es <b>menor</b> al total a pagar?</i></p>
  <p>Solo te pediremos que pages el resto del total en otra forma de pago.</p>
  <br>
  <p>Tu certificado de regalo es:</p>
  <h1 class="text-primary">{{code}}</h1>
  <p>Enviado por: <span>{{sender}}</span></p>
  <br>
  <p>
    Si tienes algún comentario, envía un mail a
    <a href="mailto:{{adminEmail}}">{{adminEmail}}</a> o responde este mismo
    correo.
  </p>
</div>