<div class="align-left p-5">
  <h3 class="text-primary">Hola, has recibido una nueva compra</h3>
  <p><b class="text-success">Ver todas las sesiones:</b> <a href="{{emailUrlFor 'admin-pending-sessions'}}">{{emailUrlFor
      'admin-pending-sessions'}}</a></p>
</div>

<h1 class="text-primary">Detalles de la sesión</h1>

<div class="order-details">
  {{#each orderSummary}}
  <div class="group">
    <b>{{label}}:</b> {{ value }}
  </div>
  {{/each}}
</div>