<div class="align-left p-5">
  <h2 class="text-primary">Hola {{firstname}}!</h2>
  <p>
    Felicidades por hacer del bienestar una prioridad
    Si tienes algún comentario sobre tu orden nos puedes enviar un correo a
    <a href="mailto:{{adminEmail}}">{{adminEmail}}</a> o responder este mismo
    correo.
  </p>
</div>

<h1 class="text-primary">Detalles de tu orden</h1>

<div class="order-details">
  {{#each orderSummary}}
  <div class="group">
    <b>{{label}}:</b>
    {{#if isLink}}
    <a href="{{value}}">{{value}}</a>
    {{else}}
    {{ value }}
    {{/if}}
  </div>
  {{/each}}
</div>

<h3 class="align-left p-5">
  Recuerda que puedes ingresar a tu cuenta en <a href="{{ emailUrlFor 'login' }}">
    {{ emailUrlFor 'login' }}</a>
  para ordenar más fácil y rápido, además de obtener grandes descuentos al compartir tu código de referencia!
</h3>