<div class="align-left p-5">
  <h2 class="text-primary">Hola {{firstname}}!</h2>
  <p>
    Tu pago ha sido exitoso por la cantidad de {{prettyPrice price}}
  </p>
</div>

<h3 class="align-left p-5">
  Recuerda que puedes ingresar a tu cuenta en <a href="{{ emailUrlFor 'login' }}">
    {{ emailUrlFor 'login' }}</a>
  para ordenar más fácil y rápido, además de obtener grandes descuentos al compartir tu código de referencia!
</h3>