<h3 class="text-primary">
  Hola {{firstname}}
</h3>

<p>
  Felicidades por hacer del bienestar una prioridad, te queremos recordar que Mañana es día de Masaje Terapéutico
  CuerpoMente!
</p>

<p>
  Si tienes alguna duda o aclaración, escríbenos a
  <a href="mailto:{{adminEmail}}">{{adminEmail}}</a>
</p>

<p>Sigue haciendo de tu vida una Feliz Vida en Bienestar Integral :)!
</p>