<div class="align-left p-5">
  <p>
    El cliente {{name}} solicitó que se reagende la siguiente cita:
    <br><br>
    - <span class="text-primary">Fecha original: </span> {{humanDatetime originalDate}} <br>
    - <span class="text-primary">Fecha solicitada: </span> {{humanDatetime scheduleDate}} <br>
    - <span class="text-primary">Email del cliente: </span> <a href="mailto:{{email}}">{{email}}</a><br>
    - <span class="text-primary">Teléfono: </span> <a href="tel:{{phone}}">{{phone}}</a><br>
  </p>
  <p>Gracias por contactarlo lo antes posible :)!</p>
</div>