<div class="align-left p-5">
  <h3 class="text-primary">Hola {{firstname}}, ¡Bienvenido a Abril Bienestar Integral!</h3>

  <p>Es para nosotros motivo de mucha alegría que te unas a nuestro equipo y juntos ayudar a más personas a incorporar
    hábitos de bienestar en sus vidas.
  </p>

  <p>Recuerda que puedes ingresar a tu cuenta <a href="{{ emailUrlFor 'login' }}">
      aquí</a></p>

  <p>En breve te contactaremos para darte detalles de tu comienzo:)!</p>
</div>