<div class="align-left p-5">
  <h3 class="text-primary">Hola {{firstname}}, ¡Bienvenido a Abril Bienestar Integral!</h3>
  <p>Nos da mucho gusto que te unas a nuestra comunidad en donde personas igual que tu han comenzado a incorporar hábitos para construir una feliz vida en Bienestar Integral.</p>
  <p>Con tu cuenta tendrás los siguientes beneficios:</p>
  <p>- Reserva tus próximas sesiones en segundos.</p>
  <p>- Invita a tus amigos con tu código de referencia y acumula  descuentos en tus circuitos de Masaje </p>
  <br>
  <p>Ingresa ahora aquí: <a href="{{ emailUrlFor 'login' }}">
      {{ emailUrlFor 'login' }}</a></p>
  <br>
  <p>
    Si tienes algun comentario, envía un mail a
    <a href="mailto:{{adminEmail}}">{{adminEmail}}</a> o responde este mismo
    correo.
  </p>
</div>