<template name="ActiveButton">
  <button id="toggle-active-button" type="button" class="btn btn-xs btn-pill {{#if condition}}btn-success{{else}}btn-danger{{/if}}">
    {{#if condition}}
    {{parsedTextOn}}
    {{else}}
    {{parsedTextOff}}
    {{/if}}
  </button>
</template>