<template name="AddressButton">
  {{#if hasAddress}}
  <button id="view-address-button" type="button" class="btn btn-xs btn btn-outline-primary">
    <span class="icon icon-home"></span>
  </button>
  {{> ViewMoreModal
  modalTitle="Dirección"
  data=viewAddressData
  id="view-address-modal"
  full=true}}
  {{/if}}
</template>