<template name="AdminClientHistoryButton">
  <a href="{{pathFor 'admin-patient-history' id=this.id}}" target="{{#if newWindow}}_blank{{/if}}" class="btn btn-xs btn btn-outline-primary">
    <span class="icon icon-user"></span>
  </a>
</template>

<template name="TherapistClientHistoryButton">
  <a href="{{pathFor 'therapist-patient-history' id=this.id}}" class="btn btn-xs btn btn-outline-primary">
    <span class="icon icon-user"></span>
  </a>
</template>