<template name="Dashhead">
  <div class="dashhead {{#if $not withHr}}mb-2{{/if}}">
    <div class="dashhead-titles">
      {{#if category}}<h6 class="dashhead-subtitle">{{category}}</h6>{{/if}}
      <h2 class="dashhead-title {{#if primary}}text-primary{{/if}}">{{title}}</h2>
      {{#if subtitle}}<p class="font-italic">{{subtitle}}</p>{{/if}}
    </div>
    {{#if withAdd}}
    <div class="btn-toolbar dashhead-toolbar">
      <button type="button" class="btn btn-sm btn-pill btn-info" data-toggle="modal" data-target="#new-modal">
        Agregar
      </button>
    </div>
    {{/if}}
  </div>

  {{#if withHr}}
  <hr class="mt-1">
  {{/if}}
</template>