<template name="EditModal">
  {{#if $.Session.get 'editMode'}}
  <div class="modal" id="edit-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title block-subtitle text-primary">Editar</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body modal-body-scroller">
          {{> quickForm
          collection=collection
          id=editId
          type="update"
          doc=editItem
          buttonClasses="submit-button d-none"
          omitFields=omitFields
          }}
        </div>
        <div class="modal-actions">
          <button type="button" class="btn-link modal-action" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn-success modal-action" id="target-edit">
            <strong>Editar</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</template>