<template name="Forbidden">
  <h1 class="text-primary font-weight-bold m-5">Acceso denegado</h1>
  <a href="{{pathFor 'home'}}" class="btn btn-lg btn-pill btn-primary m-5">Regresar al sitio</a>
</template>