<template name="NewModal">
  <div class="modal" id="new-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title block-subtitle text-primary">Agregar</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body modal-body-scroller">
          {{> quickForm collection=collection id="insertForm" type="insert" buttonClasses="submit-button d-none"}}
        </div>
        <div class="modal-actions">
          <button type="button" class="btn-link modal-action" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn-success modal-action" id="target-submit">
            <strong>Agregar</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>