<template name="PendingConfirmation">
  {{#if currentUser}}
  {{#if isAdmin}}
  {{redirectToAdmin}}
  {{else}}
  <div class="mt-4 text-center">
    <h1 class=" text-primary">Espera unos momentos</h1>
    <p>En breve confirmaremos tu información y tendrás acceso a tu cuenta</p>
  </div>
  {{/if}}
  {{else}}
  {{>Forbidden}}
  {{/if}}
</template>