<template name="RemoveButton">
  <div id="remove-button-container">
    {{#quickRemoveButton collection=collection _id=id class="d-none delete-btn"}}
    Delete
    {{/quickRemoveButton}}
    <button class="btn btn-xs btn btn-outline-danger" id="confirm-remove">
      <span class="icon icon-trash"></span>
    </button>
  </div>
</template>