<template name="RescheduleButton">
  {{#if scheduledDate}}
  <button id="open-reschedule-button" type="button" class="btn btn-xs btn btn-outline-primary">
    <span class="icon icon-back-in-time"></span>
  </button>
  <div class="modal" id="reschedule-modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title block-subtitle text-primary">Reagendar sesión</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <p class="mb-3">Selecciona la fecha a la que deseas reagendar, estaremos contactándote para confirmar</p>
          <div class="form-inline mb-3" id="datetimepicker" data-target-input="nearest">
            <label class="sr-only" for="promo-code-input">Fecha y hora</label>
            <input id="datetimepicker-input" type="text" value="" class="form-control datetimepicker-input" data-target="#datetimepicker"
              data-toggle="datetimepicker">
          </div>
          <button type="button" id="reschedule-button" class="btn btn-pill btn-primary">
            Reagendar
          </button>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</template>