<template name="Sidebar">
  <div class="col-md-3 sidebar">
    <nav class="sidebar-nav">
      <div class="sidebar-header">
        <button class="nav-toggler nav-toggler-md sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
          <span class="sr-only">Toggle nav</span>
        </button>
        <a class="sidebar-brand scroll-top" href="{{pathFor 'admin'}}">
          <img src="/img/logo-horizontal.svg" alt="Logo" class="img-fluid">
        </a>
      </div>

      <div class="collapse nav-toggleable-md" id="nav-toggleable-md">
        <ul class="nav nav-pills nav-stacked flex-column">
          <!-- Iterate over elements given as parameters -->
          {{#each elements}}
          <li class="nav-header">{{categoryName}}</li>
          {{#each links}}
          <!-- Validate role restriction -->
          {{#if role}}
          {{#if isInRole role}}
          <li class="nav-item">
            <a class="nav-link {{isActiveRoute route}} scroll-top" href="{{pathFor route}}">{{label}}</a>
          </li>
          {{/if}}
          <!-- Regular render with no restriction -->
          {{else}}
          <li class="nav-item">
            <a class="nav-link {{isActiveRoute route}} scroll-top" href="{{pathFor route}}">{{label}}</a>
          </li>
          {{/if}}
          {{/each}}
          {{/each}}
          <!-- Static elements that will appear, no matter the type of user -->
          <li class="nav-header">Ajustes</li>
          <li class="nav-item">
            <a class="nav-link scroll-top" href="{{pathFor 'home'}}">Regresar al sitio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll-top" href="#" id="logoutButton">Cerrar sesión</a>
          </li>
        </ul>
        <hr class="visible-xs mt-3">
      </div>
    </nav>
  </div>
</template>