<template name="TherapistInfoButton">
  <button id="view-therapist-profile-button" type="button" class="btn btn-xs btn btn-outline-primary">
    <span class="icon icon-user"></span>
  </button>
  {{> ViewMoreModal
  modalTitle="Perfil del Terapeuta"
  data=viewProfileData
  id="view-therapist-profile-modal"
  isLarge=true
  }}
</template>