<template name="ViewMoreModal">
  <div class="modal" id="{{id}}">
    <div class="modal-dialog {{#if isLarge}}modal-lg{{else}}modal-md{{/if}}">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title block-subtitle text-primary">{{modalTitle}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body modal-body-scroller">
          <div class="row">
            {{#each data}}
            {{>ViewMoreModalItem}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="ViewMoreModalItem">
  <div class="{{#if full}}col-sm-12{{else}}col-sm-6{{/if}}">
    {{#if title}}<h5 class="text-info m-t-0">{{title}}</h5>{{/if}}
    {{#each items}}
    <div class="group">
      <span class="text-primary font-weight-bold">- {{label}}:</span> {{{value}}}
    </div>
    {{/each}}
  </div>
</template>