<template name="TherapistPastSessionsRow">
  <tr>
    <!-- <td>
      {{sessionPatient.firstname}} {{sessionPatient.lastname}}
    </td> -->
    <td>
      {{humanDate scheduledDate}}
    </td>
    <td>{{prettySlug type}}</td>
    <td>
      {{#if checkInTime}}{{humanTime checkInTime}}{{/if}}
    </td>
    <td>
      {{#if checkOutTime}}{{humanTime checkOutTime}}{{/if}}
    </td>
    <td class="{{#if $eq status 'canceled'}}text-danger{{/if}}{{#if $eq status 'completed'}}text-success{{/if}}">
      {{prettyStatus status}}
    </td>
  </tr>
</template>