<template name="TherapistPastSessions">
  {{#if Template.subscriptionsReady}}
  {{> Dashhead title="Historial de Sesiones" category="Sesiones"}}
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <!-- <th>Cliente</th> -->
          <th>Fecha</th>
          <th>Tipo</th>
          <th>Check In</th>
          <th>Check Out</th>
          <th>Estatus</th>
        </tr>
      </thead>
      <tbody>
        {{#each pastSessions}}
        {{>TherapistPastSessionsRow}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  {{>Loading}}
  {{/if}}
</template>