<template name="TherapistPendingSessionsRow">
  <tr>
    <td>{{>TherapistClientHistoryButton id=sessionPatient.userId}}</td>
    <td>
      {{sessionPatient.firstname}} {{sessionPatient.lastname}}
    </td>
    <td>
      {{humanDatetime scheduledDate}}
    </td>
    <td>{{#if locationId}}{{locationName locationId}}{{/if}}</td>
    <td>
      {{> AddressButton hasAddress=hasAddress address=address}}
    </td>
    <td>{{prettySlug type}}</td>
    <td>
      {{yesNo isTreatment}}
    </td>
  </tr>
</template>