<template name="TherapistPendingSessions">
  {{#if Template.subscriptionsReady}}
  {{> Dashhead title="Sesiones Pendientes" category="Sesiones"}}
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <th></th>
          <th>Cliente</th>
          <th>Fecha</th>
          <th>Zona</th>
          <th>Domicilio</th>
          <th>Tipo</th>
          <th>Circuito</th>
        </tr>
      </thead>
      <tbody>
        {{#each pendingSessions}}
        {{>TherapistPendingSessionsRow}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  {{>Loading}}
  {{/if}}
</template>