<template name="ClientRequestAccess">
  {{> Dashhead
  title="Petición de acceso"
  subtitle="Ingresa aquí el código para migrar tu usuario a administrador"
  withHr=true
  }}
  <div class="row mt-2">
    <div class="col-12">
      <p class="text-center color-info font-weight-bold">Código de administrador</p>
    </div>
  </div>
  <div class="col-md-2 offset-md-5">
    <input id="request-access-input" type="text" class="form-control">
  </div>
  <div class="col-md-2 offset-md-5 text-center mt-3">
    <button id="request-access-button" type="button" class="btn btn-sm btn-outline-primary">Validar</button>
  </div>
</template>