<template name="PatientHistory">
  {{#if canSeeHistory}}
  {{> Dashhead title="Historial del cliente" category="General" withHr=true}}
  <!-- Display data to non client -->
  {{#if isNotClient}}
  <h3 class="text-primary mb-4">Nombre: <span class="font-weight-bold">{{client.firstname}} {{client.lastname}}</span></h3>
  {{/if}}
  <!-- Personal data modal -->
  <div class="mb-4">
    Datos personales:
    <button id="view-profile-button" type="button" class="btn btn-xs btn btn-outline-primary">
      <span class="icon icon-user"></span>
    </button>
  </div>
  <!-- Pending treatments -->
  {{#if currentTreatment}}
  <div class="row mb-4">
    <div class="col-12 mb-2">
      <h3 class="text-primary font-weight-normal">Circuito actual: {{currentTreatmentName}}</h3>
      <p class="text-info"><span class="font-italic">Objetivo:</span>
        {{#if currentTreatment.goal}}{{currentTreatment.goal}}{{else}}No ha sido establecido{{/if}}
      </p>
      <!-- Add money to account -->
      {{#if isInRole 'superadmin'}}
      <div class="mb-2">
        Agregar pago en efectivo al circuito:
        <button id="add-cash-button" type="button" class="btn btn-xs btn btn-outline-info">
          <span class="icon icon-credit"></span>
        </button>
        <button id="cancel-treatment-button" type="button" class="btn btn-xs btn btn-danger ml-3">
          Cancelar Circuito
        </button>

      </div>
      {{/if}}
    </div>
    {{#each currentTreatmentSessions}}
    <div class="col-sm-6 col-md-4">
      {{>PatientHistoryCard}}
    </div>
    {{/each}}
  </div>
  {{/if}}
  <!-- Pending non treatment sessions -->
  {{#if pendingNoTreatmentSessions}}
  <div class="row mb-4">
    <div class="col-12 mb-2">
      <h3 class="text-primary font-weight-normal">Sesiones pendientes fuera de circuito</h3>
    </div>
    {{#each pendingNoTreatmentSessions}}
    <div class="col-sm-6 col-md-4">
      {{>PatientHistoryCard}}
    </div>
    {{/each}}
  </div>
  {{/if}}
  <!-- Past treatments -->
  {{#if pastTreatments}}
  <h3 class="text-info font-weight-normal">Circuitos finalizados</h3>
  <hr>
  {{#each pastTreatments}}
  <div class="row mb-4">
    <div class="col-12 mb-2">
      <h5 class="text-primary font-weight-normal">Circuito: {{pastTreatmentName type customIndex}}</h5>
      <p class="text-info"><span class="font-italic">Objetivo:</span>
        {{#if goal}}{{goal}}{{else}}No ha sido establecido{{/if}}
      </p>
    </div>
    {{#each pastTreatmentSessions @index}}
    <div class="col-sm-6 col-md-4">
      {{>PatientHistoryCard}}
    </div>
    {{/each}}
  </div>
  {{/each}}
  {{/if}}
  <!-- Past non treatment sessions -->
  {{#if pastNoTreatmentSessions}}
  <div class="row mb-4">
    <div class="col-12 mb-2">
      <h3 class="text-info font-weight-normal">Sesiones pasadas fuera de circuito</h3>
    </div>
    {{#each pastNoTreatmentSessions}}
    <div class="col-sm-6 col-md-4">
      {{>PatientHistoryCard}}
    </div>
    {{/each}}
  </div>
  {{/if}}
  <!-- No sessions -->
  {{#if noSessions}}
  {{#if isInRole 'client'}}
  <h3 class="text-success mt-4">
    Aún no tienes ninguna sesión agendada.
  </h3>
  <a class="btn btn-lg btn-pill btn-success mt-4" href="{{pathFor 'client-purchase'}}">Reserva ahora</a>
  {{/if}}
  {{/if}}
  <!-- Questions modal -->
  {{> ViewMoreModal
  modalTitle="Datos personales"
  data=viewProfileData
  id="view-profile-modal"
  full=true}}
  <!-- Add cash modal -->
  {{> PatientAddCash id=client._id}}
  {{else}}
  {{>Forbidden}}
  {{/if}}
</template>