<template name="PatientHistoryCard">
  <div class="card mb-4">
    <!-- Type of session if is not of treatment -->
    {{#if $not isTreatment}}
    <div class="card-block">
      <h5 class="card-title text-primary font-weight-bold m-0">{{prettySlug type}}</h5>
    </div>
    {{/if}}
    <ul class="list-group list-group-flush">
      <!-- Date -->
      <li class="list-group-item"><span class="font-weight-normal text-info">Fecha:</span>&nbsp;
        {{#if scheduledDate}}
        {{humanDatetime scheduledDate}}
        {{else}}
        Por confirmar
        {{/if}}
      </li>
      <!-- Status -->
      {{#if status}}
      <li class="list-group-item"><span class="font-weight-normal text-info">Estatus:</span>&nbsp;{{prettyStatus
        status}}</li>
      {{/if}}
      <!-- Show therapist to everyone but therapist -->
      {{#if isNotTherapist}}
      {{#if sessionTherapist}}
      <li class="list-group-item"><span class="font-weight-normal text-info">Terapeuta:</span>&nbsp;{{sessionTherapist.firstname}}
        {{sessionTherapist.lastname}}</li>
      {{/if}}
      {{/if}}
      <!-- Is delivery -->
      {{#if hasAddress}}
      <li class="list-group-item"><span class="font-weight-normal text-info">Servicio a domicilio:</span>&nbsp;
        {{yesNo hasAddress}}
      </li>
      {{else}}
      <li class="list-group-item"><span class="font-weight-normal text-info">Lugar de la sesión:</span>&nbsp;
        <a href="https://goo.gl/maps/U3XJH8jhWuT2" target="_blank">https://goo.gl/maps/U3XJH8jhWuT2</a>
      </li>
      {{/if}}
      <!-- Checkin -->
      {{#if checkInTime}}
      <li class="list-group-item"><span class="font-weight-normal text-info">Check in:</span>&nbsp;{{humanTime
        checkInTime}}</li>
      {{/if}}
      <!-- Checkout -->
      {{#if checkOutTime}}
      <li class="list-group-item"><span class="font-weight-normal text-info">Check in:</span>&nbsp;{{humanTime
        checkOutTime}}</li>
      {{/if}}
      <!-- Reescedule -->
      {{#if isInRole 'client'}}
      {{#if $eq status 'confirmed'}}
      <li class="list-group-item"><span class="font-weight-normal text-info">Solicitar reagendar:</span>&nbsp;&nbsp;
        {{>RescheduleButton scheduledDate=scheduledDate id=_id}}</li>
      {{/if}}
      {{/if}}
      <!-- Survey results -->
      {{#if isNotClient}}
      {{#if checkInSurvey}}
      {{#each checkInQuestions}}
      <li class="list-group-item"><span class="font-weight-normal text-info">{{title}} (Antes): </span>&nbsp;{{value}}</li>
      {{/each}}
      {{/if}}
      {{#if checkOutSurvey}}
      {{#each checkOutQuestions}}
      <li class="list-group-item"><span class="font-weight-normal text-info">{{title}} (Después): </span>&nbsp;{{value}}</li>
      {{/each}}
      {{#if checkOutSurvey.practice}}
      <li class="list-group-item"><span class="font-weight-normal text-info">Práctica de Hoy: </span>&nbsp;{{checkOutSurvey.practice}}</li>
      {{/if}}
      {{/if}}
      {{else}}
      {{#if checkOutSurvey.practice}}
      <li class="list-group-item"><span class="font-weight-normal text-info">Práctica de Hoy: </span>&nbsp;{{checkOutSurvey.practice}}</li>
      {{/if}}
      {{/if}}
    </ul>
  </div>
</template>