<template name="PatientAddCash">
  <div class="modal" id="add-cash-modal">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title block-subtitle text-primary">Agregar pago en efectivo</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <p class="mb-3">Indica el monto del pago</p>
          <div class="mb-3">
            <input id="add-cash-input" type="number" class="form-control">
          </div>
          <button type="button" id="add-cash-save-button" class="btn btn-pill btn-primary">
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</template>