<template name="ClientLayout">
  {{#if currentUser}} {{#if isInRole 'client'}}
  <div class="container-fluid mt-5">
    <div class="row">
      {{> Sidebar elements=sidebarElements}} {{#if Template.subscriptionsReady}}
      <div class="col-md-9 content">
        {{#if ongoingSession}} {{>ClientCurrentSession}} {{else}}
        {{#if missingProfile}} {{#if isActiveRoute 'client-user-profile'}}
        {{else}}
        <div class="jumbotron bg-success p-4 mb-3 text-white">
          <div class="container">
            <h4 class="font-weight-bold">Actualiza tus datos</h4>
            <p class="lead font-weight-normal">
              Por favor completa toda la información de tu perfil para recibir
              un circuito más personalizado
            </p>
            <a
              href="{{pathFor 'client-user-profile'}}"
              class="btn btn-pill btn-primary"
              >Actualizar mis datos</a
            >
          </div>
        </div>
        {{/if}} {{/if}} {{> Template.dynamic template=main}} {{/if}}
      </div>
      {{/if}}
    </div>
  </div>
  {{else}} {{ redirectToAdmin }} {{/if}} {{else}} {{>Forbidden}} {{/if}}
</template>
