<template name="AdminPromoCodes">
  {{#if Template.subscriptionsReady}}
  {{> Dashhead title="Códigos de Promoción" category="General" withAdd=true}}
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Tipo</th>
          <th>Cantidad</th>
          <th>Activo</th>
          <th>One-time</th>
          <th>Zonas</th>
          <th>Creación</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each promoCodes}}
        {{>AdminPromoCodesRow}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{> NewModal collection="PromoCodes" }}
  {{> EditModal collection="PromoCodes" editItem=editItem }}
  {{else}}
  {{>Loading}}
  {{/if}}
</template>