<template name="AdminPromoCodesRow">
  <tr>
    <td>{{code}}</td>
    <td>{{prettyPromoCodeType type}}</td>
    <td>{{prettyPromoCodeAmount type amount}}</td>
    <td>
      {{>ActiveButton condition=active method="toggleActivePromoCode" id=_id}}
    </td>
    <td>{{yesNo isOneTime}}</td>
    <td>
      {{#if validCenter}}Centro de Bienestar, {{/if}}
      {{locationsNames locationsId}}</td>
    <td>{{humanDate createdAt}}</td>
    <td>
      {{> EditButton id=_id}}
    </td>
    <td>
      {{> RemoveButton collection="PromoCodes" id=_id}}
    </td>
  </tr>
</template>