<template name="AdminLayout">
  {{#if currentUser}}
  {{#if isInRole allowedRole}}
  <div class="container-fluid mt-5">
    <div class="row">
      {{> Sidebar elements=sidebarElements}}
      <div class="col-md-9 content">{{> Template.dynamic template=main}}</div>
    </div>
  </div>
  {{else}}
  {{ redirectToAdmin }}
  {{/if}}
  {{else}}
  {{>Forbidden}}
  {{/if}}
</template>