<template name="PurchaseUser">
  {{#if $not currentUser}}
  <h5 class="font-weight-normal mt-3">Tu cuenta</h5>
  <p class="font-weight-light font-italic">
    Se creará una cuenta para que tengas seguimiento de tus Circuitos de masaje y ganes increíbles descuentos
  </p>
  {{#each accountFields}}
  <label class="justify-content-start" for="{{id}}">{{label}}</label>
  <input type="{{#if type}}{{type}}{{else}}text{{/if}}" class="form-control form-control-lg mb-2 mr-sm-2" id="{{id}}">
  {{/each}}
  {{/if}}
</template>