<template name="PurchaseCreditCard">
  <h5 class="font-weight-normal mt-3">Tarjeta de crédito</h5>
  {{#if client.last4}}
  <p class="font-weight-light font-italic">¿Deseas pagar con tu tarjeta con terminación en <span class="font-weight-bold">{{client.last4}}</span>
    ?</p>
  <div class="d-flex items-container mt-3 mb-3">
    <button type="button" class="p-3 {{#if $.Session.equals 'sameCard' 'si'}}selected{{/if}}" id="yes-card-button"
      {{clientDisabledAddress}}>
      <h5 class="font-weight-bold m-0">Sí, pagar con la misma tarjeta</h5>
    </button>
    <button type="button" class="p-3 {{#if $.Session.equals 'sameCard' 'no'}}selected{{/if}}" id="no-card-button">
      <h5 class="font-weight-bold m-0">No, pagar con tarjeta diferente</h5>
    </button>
  </div>
  {{/if}}
  {{#if $or ($not client.last4) ($.Session.equals 'sameCard' 'no')}}
  <form class="form-inline align-items-start d-flex flex-column" id="credit-card-form">
    <label class="justify-content-start" for="card-name">Nombre del tarjetahabiente</label>
    <input type="text" size="20" data-conekta="card[name]" class="form-control form-control-lg mb-2 mr-sm-2" id="card-name">
    <label class="justify-content-start" for="card-number">Número de tarjeta de crédito</label>
    <input type="text" size="20" data-conekta="card[number]" class="form-control form-control-lg mb-2 mr-sm-2" id="card-number">
    <label class="justify-content-start" for="card-cvc">CVC</label>
    <input type="text" size="4" data-conekta="card[cvc]" class="form-control form-control-lg mb-2 mr-sm-2" id="card-cvc">
    <label class="justify-content-start" for="card-exp_month">Mes de expiración (MM)</label>
    <input type="text" size="2" data-conekta="card[exp_month]" class="form-control form-control-lg mb-2 mr-sm-2" id="card-exp_month">
    <label class="justify-content-start" for="card-exp_year">Año de expiración (AAAA)</label>
    <input type="text" size="4" data-conekta="card[exp_year]" class="form-control form-control-lg mb-2 mr-sm-2" id="card-exp_year">
  </form>
  {{/if}}
</template>