<template name="PurchaseAddress">
  <h5 class="font-weight-normal">¿En dónde se realizará la sesión?</h5>
  {{#if clientHasNoAdresss}}
  <p class="font-weight-light font-italic">Necesitas actualizar tus datos para ordenar sesiones a domicilio</p>
  {{/if}}
  <div class="d-flex items-container mt-3 mb-3">
    <button type="button" class="p-3 {{#if $.Session.equals 'hasAddress' 'si'}}selected{{/if}}" id="yes-button"
      {{clientDisabledAddress}}>
      <h5 class="font-weight-bold m-0">A domicilio</h5>
    </button>
    <button type="button" class="p-3 {{#if $.Session.equals 'hasAddress' 'no'}}selected{{/if}}" id="no-button">
      <h5 class="font-weight-bold m-0">En el Centro de Bienestar</h5>
    </button>
  </div>
  {{#if $.Session.equals 'hasAddress' 'no'}}
  <p class="font-weight-light font-italic">La sesión se realizará en <a href="https://goo.gl/maps/U3XJH8jhWuT2" target="_blank">https://goo.gl/maps/U3XJH8jhWuT2</a></p>
  {{else}}
  {{#if currentUser}}
  <p class="font-weight-light font-italic">La sesión se realizará en la dirección de tu perfil</p>
  {{else}}
  <!-- Only shown in landig page -->
  {{#each addressFields}}
  {{#if $not hidden}}
  <label class="justify-content-start" for="{{id}}">{{label}}</label>
  <input type="text" class="form-control form-control-lg mb-2 mr-sm-2" id="{{id}}">
  {{/if}}
  {{/each}}
  <div class="{{#if hideLocation}}d-none{{/if}}">
    <label class="justify-content-start" for="locationId">Zona</label>
    <select class="form-control form-control-lg mb-2 mr-sm-2" id="locationId">
      {{#each locations}}
      <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
  {{/if}}
  {{/if}}
</template>