<template name="PurchaseGoal">
  {{#if show}}
  <h5 class="font-weight-normal">Describe en una palabra o frase corta tu Objetivo de Circuito</h5>
  <div>
    <label class="sr-only" for="promo-code-input">Código de promoción</label>
    <input type="text" class="form-control form-control-lg mb-2 mr-sm-2" id="goal-input">
  </div>
  {{/if}}
</template>