<template name="PurchasePaymentPlan">
  {{#if selectedProduct}}
  {{#if selectedProduct.isTreatment}}
  <h5 class="font-weight-normal">¿Qué plan de pagos deseas para este circuito?</h5>
  <div class="d-flex items-container mt-3 mb-3">
    <button type="button" class="p-3 {{#if $.Session.equals 'splitPayment' 'no'}}selected{{/if}}" id="no-plan-button">
      <h5 class="font-weight-bold m-0">Una sola exhibición</h5>
    </button>
    <button type="button" class="p-3 {{#if $.Session.equals 'splitPayment' 'si'}}selected{{/if}}" id="yes-plan-button">
      <h5 class="font-weight-bold m-0">Pagos diferidos ({{getLength selectedProduct.partialPaymentsSessions}} pagos)</h5>
    </button>
  </div>
  {{/if}}
  {{/if}}
</template>