<template name="Purchase">
  {{#if cantBuy}}
  {{redirectLogin}}
  {{/if}}
  {{> PurchaseProductSelect}}
  {{> PurchaseDate}}
  {{> PurchaseGoal}}
  {{> PurchaseAddress}}
  {{> PurchaseUser}}
  {{> PurchasePromoCode}}
  {{> PurchasePaymentPlan}}
  {{> PurchaseGiftCard}}
  {{#if $gt total 0}}
  {{> PurchaseCreditCard}}
  {{/if}}
  {{> PurchaseTotal}}
  <button type="button" id="pay-button" class="btn btn-lg btn-pill btn-primary mt-3 scroll-top" {{isDisabled}}>
    {{#if total}}
    Pagar {{prettyPrice total}}
    {{else}}
    Procesar pago
    {{/if}}
  </button>
  <p class="font-weight-light font-italic mt-2 mb-5">
    {{#if $eq total 0}}
    No se realizará ningún cargo en tu tarjeta de crédito
    {{else}}
    {{#if $.Session.equals 'useGiftCard' 'si'}}
    El monto ya considera el saldo del certificado de regalo
    {{/if}}
    {{/if}}
  </p>
</template>