<template name="PurchaseGiftCard">
  {{#if $and client ($gt client.giftCardAmount 0)}}
  <h5 class="font-weight-normal">Tienes <span class="font-weight-bold text-primary">{{prettyPrice
      client.giftCardAmount}}</span>
    disponible de tu
    certificado de regalo. ¿Deseas usarlos?</h5>
  <div class="d-flex items-container mt-3 mb-3">
    <button type="button" class="p-3 {{#if $.Session.equals 'useGiftCard' 'si'}}selected{{/if}}" id="yes-gift-button">
      <h5 class="font-weight-bold m-0">Si</h5>
    </button>
    <button type="button" class="p-3 {{#if $.Session.equals 'useGiftCard' 'no'}}selected{{/if}}" id="no-gift-button">
      <h5 class="font-weight-bold m-0">No</h5>
    </button>
  </div>
  {{/if}}
</template>