<template name="PurchasePromoCode">
  <h5 class="font-weight-normal mt-3">¿Tienes un código de promoción? Ingrésalo ahora!</h5>
  <div class="{{#if $.Session.get 'promoCode'}}has-success{{/if}}">
    <div class="form-inline">
      <label class="sr-only" for="promo-code-input">Código de promoción</label>
      <input type="text" class="form-control form-control-lg mb-2 mr-sm-2 {{#if $.Session.get 'promoCode'}}form-control-success{{/if}}"
        id="promo-code-input">
      <button type="button" id="validate-promo-code" class="btn btn-lg btn-success mb-2">Validar</button>
    </div>
    {{#if $.Session.get 'promoCode'}}
    <div class="form-control-feedback mb-3">Tu código ha sido aplicado</div>
    {{/if}}
  </div>
</template>