<template name="PurchaseDate">
  <h5 class="font-weight-normal">
    {{#if $gt numberOfDates 1}}
    Selecciona las fechas y horario de tus sesiones
    {{else}}
    Selecciona la fecha y hora de la sesión
    {{/if}}
  </h5>
  <div class="form-inline mb-3 {{#if $lt numberOfDates 1}}d-none{{/if}}" id="datetimepicker-0" data-target-input="nearest">
    <label class="sr-only" for="promo-code-input">Fecha</label>
    <input id="datetimepicker-input-0" type="text" value="" class="form-control form-control-lg datetimepicker-input"
      data-target="#datetimepicker-0" data-toggle="datetimepicker">
  </div>
  <div class="form-inline mb-3 {{#if $lt numberOfDates 2}}d-none{{/if}}" id="datetimepicker-1" data-target-input="nearest">
    <label class="sr-only" for="promo-code-input">Fecha</label>
    <input id="datetimepicker-input-1" type="text" value="" class="form-control form-control-lg datetimepicker-input"
      data-target="#datetimepicker-1" data-toggle="datetimepicker">
  </div>
  <div class="form-inline mb-3 {{#if $lt numberOfDates 3}}d-none{{/if}}" id="datetimepicker-2" data-target-input="nearest">
    <label class="sr-only" for="promo-code-input">Fecha</label>
    <input id="datetimepicker-input-2" type="text" value="" class="form-control form-control-lg datetimepicker-input"
      data-target="#datetimepicker-2" data-toggle="datetimepicker">
  </div>
  <div class="form-inline mb-3 {{#if $lt numberOfDates 4}}d-none{{/if}}" id="datetimepicker-3" data-target-input="nearest">
    <label class="sr-only" for="promo-code-input">Fecha</label>
    <input id="datetimepicker-input-3" type="text" value="" class="form-control form-control-lg datetimepicker-input"
      data-target="#datetimepicker-3" data-toggle="datetimepicker">
  </div>
  <div class="form-inline mb-3 {{#if $lt numberOfDates 5}}d-none{{/if}}" id="datetimepicker-4" data-target-input="nearest">
    <label class="sr-only" for="promo-code-input">Fecha</label>
    <input id="datetimepicker-input-4" type="text" value="" class="form-control form-control-lg datetimepicker-input"
      data-target="#datetimepicker-4" data-toggle="datetimepicker">
  </div>
  <div class="form-inline mb-3 {{#if $lt numberOfDates 6}}d-none{{/if}}" id="datetimepicker-5" data-target-input="nearest">
    <label class="sr-only" for="promo-code-input">Fecha</label>
    <input id="datetimepicker-input-5" type="text" value="" class="form-control form-control-lg datetimepicker-input"
      data-target="#datetimepicker-5" data-toggle="datetimepicker">
  </div>
  <div class="form-inline mb-3 {{#if $lt numberOfDates 7}}d-none{{/if}}" id="datetimepicker-6" data-target-input="nearest">
    <label class="sr-only" for="promo-code-input">Fecha</label>
    <input id="datetimepicker-input-6" type="text" value="" class="form-control form-control-lg datetimepicker-input"
      data-target="#datetimepicker-6" data-toggle="datetimepicker">
  </div>
</template>