<template name="PurchaseProductSelect">
  <h5 class="font-weight-normal">Selecciona tu producto</h5>
  <div class="d-flex items-container mt-3 mb-3">
    {{#each products}}
    {{>PurchaseProductSelectItem}}
    {{/each}}
  </div>
  {{#if selectedProduct.description}}
  <p class="font-weight-light font-italic">{{selectedProduct.description}}</p>
  {{/if}}
</template>

<template name="PurchaseProductSelectItem">
  <button type="button" class="p-3 {{#if $eq selectedProduct.slug slug}}selected{{/if}}" id="product-button">
    <h5 class="font-weight-bold m-0">{{title}}</h5>
  </button>
</template>