<template name="PurchaseTotal">
  {{#if selectedProduct }}
  <h5 class="font-weight-normal mt-2 mb-2">Total</h5>
  {{#if appliedPromo }}
  {{#if splitPayments selectedProduct}}
  {{#if $eq appliedPromo.type 'newClients'}}
  {{removePromoCode}}
  <p class="font-italic">Lo sentimos. Este código de promoción solo aplica para un solo pago</p>
  {{/if}}
  {{else}}
  <h6 class="font-weight-normal font-italic line-through">
    {{prettyPrice selectedProduct.price}}
  </h6>
  <h4 class="font-weight-bold text-success mt-1">
    {{prettyPrice (discountedPrice selectedProduct)}}
  </h4>
  {{/if}}
  {{else}}
  {{#if $not (splitPayments selectedProduct)}}
  <h4 class="text-success font-weight-bold">
    {{prettyPrice selectedProduct.price}}
  </h4>
  {{/if}}
  {{/if}}
  {{#if splitPayments selectedProduct}}
  <h4 class="font-weight-normal mb-3">
    Precio total: {{prettyPrice selectedProduct.price}}
  </h4>
  <h4 class="text-success font-weight-bold mb-3">
    Hoy solo pagas:
    <span class="{{#if splitPaymentValidDiscount appliedPromo}}line-through{{/if}}">
      {{prettyPrice (firstPayment selectedProduct)}}
    </span>
    {{#if splitPaymentValidDiscount appliedPromo}}
    <span class="ml-2">{{ prettyPrice (splitPaymentValidDiscountAmount (firstPayment selectedProduct) appliedPromo)}}</span>
    {{/if}}

  </h4>
  {{#if selectedProduct.discountsText}}<h5 class="font-italic">{{{selectedProduct.discountsText}}}</h5>{{/if}}
  {{/if}}
  {{/if}}
</template>