<template name="ClientPurchase">
  {{#if Template.subscriptionsReady}}
  {{> Dashhead title="Reservar ahora" withHr=true primary=true}}
  <!-- On treatments, clients can just pay the rest of their treatment -->
  {{#if hasCurrentTreatment client}}
  <div>
    <!-- Treatment paid in full doesn not require any payments -->
    {{#if currentTreatment.paidInFull}}
    <h3 class="text-success font-weight-bold mb-3">¡Felicidades! Tu circuito actual ya está pagado</h3>
    <h4>Disfruta tus siguientes sesiones y al finalizar este circuito podrás adquirir el próximo</h4>
    {{else}}
    <!-- Check if this session needs a payment -->
    {{#if treatmentNeedsPayment currentTreatment currentTreatmentProduct}}
    <h3 class="text-success mb-3">Tu pago correspondiente es de:
      <span class="font-weight-bold">
        {{ prettyPrice (treatmentPendingPayment currentTreatment client currentTreatmentProduct (treatmentNeedsPayment
        currentTreatment currentTreatmentProduct))}}
      </span>
    </h3>
    {{#if isLastPayment currentTreatmentProduct (treatmentNeedsPayment currentTreatment currentTreatmentProduct)}}
    <h4>En este circuito ahorraste:
      <span class="font-weight-bold">{{prettyPrice (accumulatedDiscount client currentTreatmentProduct
        currentTreatment)}}</span>
    </h4>
    <h5 class="font-italic mt-3 mb-3">
      Recuerda que cada que alguien use tu código de referencia acumulas descuento para tu Circuito de Masajes
    </h5>
    {{/if}}
    {{> PurchaseGiftCard}}
    {{#if $eq 0 (treatmentPendingPayment currentTreatment client currentTreatmentProduct
    (treatmentNeedsPayment
    currentTreatment currentTreatmentProduct))}}
    <button type="button" id="pay-treatment-button" class="btn btn-lg btn-pill btn-primary mt-3">
      Procesar pago
    </button>
    {{else}}
    {{> PurchaseCreditCard}}
    <button type="button" id="pay-treatment-button" class="btn btn-lg btn-pill btn-primary mt-3">
      Pagar {{ prettyPrice (treatmentPendingPayment currentTreatment client currentTreatmentProduct
      (treatmentNeedsPayment
      currentTreatment currentTreatmentProduct))}}
    </button>
    {{/if}}
    <p class="font-weight-light font-italic mt-2 mb-5">
      {{#if $.Session.equals 'useGiftCard' 'si'}}
      {{#if $eq 0 (treatmentPendingPayment currentTreatment client currentTreatmentProduct
      (treatmentNeedsPayment
      currentTreatment currentTreatmentProduct))}}
      No se realizará ningún cargo en tu tarjeta de crédito
      {{else}}
      El monto ya considera el saldo del certificado de regalo
      {{/if}}
      {{/if}}
    </p>
    {{else}}
    <h3 class="text-success font-weight-bold mb-3">Tu siguiente sesión ya está pagada</h3>
    <h4>Nosotros te avisaremos cuanto requieras hacer el pago</h4>
    {{/if}}
    {{/if}}
  </div>
  {{else}}
  {{>Purchase}}
  {{/if}}
  {{else}}
  {{>Loading}}
  {{/if}}
</template>