<template name="LoginInputOverride">
  <div class="form-group text-left input {{#if isValidating}}validating{{/if}} {{#if hasError}}error{{/if}} {{#if hasSuccess}}has-success{{/if}} {{#if feedback}}has-feedback{{/if}}">
    {{#if showLabels}}
    <label for="at-field-{{_id}}">
      {{displayName}} {{#unless required}}{{optionalText}}{{/unless}}
    </label>
    {{/if}}
    <input class="form-control" type="{{type}}" id="at-field-{{_id}}" name="at-field-{{_id}}" placeholder="{{placeholder}}"
      autocapitalize="none" autocorrect="off">
    {{#if hasIcon}}
    <span class="{{iconClass}}"></span>
    {{/if}}
    {{#if hasError}}
    <span>{{errorText}}</span>
    {{/if}}
  </div>
</template>