<template name="Login">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <div class="my-5 p-5 card shadow">
          <h5 class="text-center mb-4"><img src="/img/logo-horizontal.svg" alt="" class="img-fluid img-nav "></h5>
          {{>atForm}}
        </div>
      </div>
    </div>
  </div>
</template>