<template name="LandingRegisterModal">
  <div class="modal" id="{{id}}">
    <div class="register-modal">
      <div class="modal-content">
        <div class="register-modal-inner">
          <img class="register-img" src="{{image}}">
          <div class="register-content">
            <button type="button" class="close mr-3" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="font-weight-bold text-center mt-4">{{title}}</h4>
            {{#if subtitle}}<h5>{{subtitle}}</h5>{{/if}}
            <form class="p-4">
              {{#each fields}}
              <div class="form-group">
                <label for="{{input}}">{{question}}</label>
                <input type="{{#if type}}{{type}}{{else}}text{{/if}}" class="form-control" id="{{input}}">
              </div>
              {{/each}}
              <button type="submit" class="btn btn-pill btn-success text-white">
                {{#if buttonText}}
                {{buttonText}}
                {{else}}
                Envíar
                {{/if}}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>