<template name="LandingTherapistsCTA">
  <section class="bg-primary py-4 py-lg-5">
    <div class="container">
      <h1 class="font-weight-bold text-center text-white">No solo te Relajes, Aprende a Vivir Relajadamente
      </h1>
      <h4 class="text-center mt-3 text-white">¿Quieres aprender a impartir nuestros masajes?</h4>
      <div class="text-center mt-4">
        <a href="{{pathFor 'careers'}}" class="btn btn-pill btn-lg btn-success text-white scroll-top">Únete ahora</a>
      </div>
    </div>
  </section>
</template>