<template name="LandingFooter">
  <footer class="p-3 px-md-4 bg-white border-bottom shadow-sm">
    <div class="container d-md-flex justify-content-between  align-items-center">
      <a href="{{pathFor 'home'}}" class="hidden-sm-down scroll-top">
        <img src="/img/logo-horizontal.svg" alt="" class="img-fluid img-nav ">
      </a>
      <div>
        <div class="d-flex align-items-center justify-content-center">
          <a href="#" data-toggle="modal" data-target="#newsletter-modal" class="footer-item">Comunidad</a>
          {{#each links}}
          <a href="{{pathFor link}}" class="footer-item scroll-top">{{label}}</a>
          {{/each}}
        </div>
        <div class="d-flex footer-icons mt-3 justify-content-center justify-content-md-end">
          {{#each socialNetworks}}
          <a href="{{link}}" target="_blank" class="d-flex align-items-center justify-content-center p-2 mx-2">
            <img src="/img/{{icon}}.svg" class="svg">
          </a>
          {{/each}}
        </div>
        <div class="d-flex mt-3 justify-content-center justify-content-md-end">
          <p class="text-primary mb-0">Copyright© 2018, Abril Bienestar Integral</p>
        </div>
      </div>
    </div>
  </footer>
  {{>LandingRegisterModal
  id="newsletter-modal"
  image="https://d9hhrg4mnvzow.cloudfront.net/14559facecef4130babaf6867c556519.pages.ubembed.com/2183c298-50a6-4af2-a35c-3733c18716a0/8b54762b-banner-images-0004-rachel-with-biomarkers-lr_1qy0qo0og0qo0j8000.jpg"
  title="Bienvenid@ a una comunidad de personas comprometidas con su Bienestar Integral"
  subtitle="¡Recibirás tips para mantener una relajación Integral, interesantes noticias y beneficios por ser miembro!"
  buttonText="Únete"
  fields=newsletterFields
  }}
</template>