<template name="LandingTestimonials">
  <div class="testimonials">
    <div class="container">
      <h1 class="font-weight-bold text-center pb-sm-4 pb-lg-5">{{title}}</h1>
      <div class="d-flex justify-content-center my-5 testimonials-container">
        {{#if notFirstSelected}}
        <div class="d-none d-md-block testimonials-control left" id="testimonial-left">
          <span class="icon icon-chevron-thin-left"></span>
        </div>
        {{/if}}
        {{#if notLastSelected}}
        <div class="d-none d-md-block testimonials-control right" id="testimonial-right">
          <span class="icon icon-chevron-thin-right"></span>
        </div>
        {{/if}}
        {{#each testimonials}}
        <div class="testimonial">
          <img src="{{picture}}" class="{{isSelected currSelected @index}} img-fluid testimonial-image">
        </div>
        {{/each}}
      </div>
      <div class="testimonial-name text-center pt-0 pt-md-4 pb-2">{{selectedTestimony.name}}</div>
      <h4 class="testimonial-text text-center font-weight-bold">{{selectedTestimony.text}}</h4>
    </div>
  </div>
</template>