<template name="LandingNavbar">
  <nav class="navbar navbar-toggleable-md border-bottom shadow-sm bg-white navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{pathFor 'home'}}">
      <img src="/img/logo-horizontal.svg" alt="" class="img-fluid img-nav ">
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link scroll-to" href="./#comofunciona">¿Cómo funciona?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll-to" href="./#casosdeexito">Casos de éxito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll-top" href="{{pathFor 'careers'}}">Carreras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll-top" href="{{pathFor 'corporal'}}">Bienestar Corporativo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll-top" href="{{ pathFor 'admin' }}">Ingresar</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success scroll-top ml-2" href="{{pathFor 'purchase'}}">Reserva</a>
        </li>

      </ul>
    </div>
  </nav>
</template>