<template name="AdminAssignSessions">
  {{#if Template.subscriptionsReady}}
  {{> Dashhead title="Asignar sesiones a terapeutas" category="Sesiones" withHr=true}}
  <div class="row">
    <div class="col-sm-2 push-sm-5">
      <button type="button" class="btn btn-pill btn-primary" id="assign-button">Asignar</button>
    </div>
    <div class="col-sm-5 pull-sm-2">
      <h3 class="text-info font-weight-normal text-center">Sesiones pendientes</h3>
      <ul class="list-group assign-list-group">
        {{#each sessions}}
        {{>AdminAssignSessionsSession}}
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-5">
      <h3 class="text-info font-weight-normal text-center">Terapeutas</h3>
      <ul class="list-group assign-list-group">
        {{#each therapists}}
        {{>AdminAssignSessionsTherapist}}
        {{/each}}
      </ul>
    </div>
  </div>
  {{else}}
  {{>Loading}}
  {{/if}}
</template>

<template name="AdminAssignSessionsSession">
  <div class="d-flex align-items-center mb-2">
    <li class="list-group-item text-left {{#if $.Session.equals 'assignedSession' _id}}selected{{/if}}" id="assign-session-button">
      <p class="m-0 font-weight-bold text-primary">{{sessionPatient.firstname}} {{sessionPatient.lastname}}</p>
      <p class="m-0">{{humanDatetime scheduledDate}}</p>
      <p class="m-0 font-weight-normal text-info">{{prettySlug type}}</p>
      <span class="font-italic">
        {{#if hasAddress}}
        {{locationName locationId}}
        {{else}}
        NO es a domicilio
        {{/if}}
      </span>
    </li>
    <div class="assign-buttons ml-2 d-flex flex-column justify-content-around">
      {{> AdminClientHistoryButton id=sessionPatient.userId newWindow=true}}
      {{> AddressButton hasAddress=hasAddress address=address}}
    </div>
  </div>

</template>

<template name="AdminAssignSessionsTherapist">
  <div class="d-flex align-items-center mb-2">
    <div class="mr-2">
      {{>TherapistInfoButton therapist=this}}
    </div>
    <li class="list-group-item text-left {{#if $.Session.equals 'assignedTherapist' _id}}selected{{/if}}" id="assign-therapist-button">
      <p class="m-0 font-weight-bold text-primary">{{firstname}} {{lastname}}</p>
      <p class="m-0"><span class="font-weight-normal text-info">Vive en: </span>{{profileQuestion "zone-live"}}</p>
      <p class="m-0"><span class="font-weight-normal text-info">Trabaja en: </span>{{locationsNames locationsId}}</p>
      <p class="m-0"><span class="font-weight-normal text-info">Disponibilidad: </span>{{profileQuestion
        "availability"}}</p>
    </li>
  </div>
</template>