<template name="AdminPendingSessionsRow">
  <tr>
    <td>{{>AdminClientHistoryButton id=sessionPatient.userId}}</td>
    <td>
      {{sessionPatient.firstname}} {{sessionPatient.lastname}}
    </td>
    <td>
      {{humanDatetime scheduledDate}}
    </td>
    <td>
      {{>RescheduleButton scheduledDate=scheduledDate id=_id}}
    </td>
    <td>{{sessionTherapist.firstname}} {{sessionTherapist.lastname}}</td>
    <td>{{#if locationId}}{{locationName locationId}}{{/if}}</td>
    <td>
      {{> AddressButton hasAddress=hasAddress address=address}}
    </td>
    <td>{{prettySlug type}}</td>
    <td>
      {{yesNo isTreatment}}
    </td>
    <td>
      {{{yesNoColor isSessionPayed true}}}
    </td>
    <td>
      {{> AdminSessionToTreatment isTreatment=isTreatment sessionId=_id}}
    </td>
    <td>
      {{> EditButton id=_id}}
    </td>
    <td>
      {{> RemoveButton collection="Sessions" id=_id}}
    </td>
  </tr>
</template>