<template name="AdminPendingSessions">
  {{#if Template.subscriptionsReady}}
  {{> Dashhead title="Sesiones Pendientes" category="Sesiones"}}
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <th></th>
          <th>Cliente</th>
          <th>Fecha</th>
          <th>Reagendar</th>
          <th>Terapeuta</th>
          <th>Zona</th>
          <th>Domicilio</th>
          <th>Tipo</th>
          <th>Circuito</th>
          <th>Pagada</th>
          <th>Convertir</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each sessions}}
        {{>AdminPendingSessionsRow}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{> EditModal collection="Sessions" editItem=editItem }}
  {{else}}
  {{>Loading}}
  {{/if}}
</template>