<template name="AdminPastSessions">
  {{#if Template.subscriptionsReady}}
  {{> Dashhead title="Historial de Sesiones" category="Sesiones"}}
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <th></th>
          <th>Cliente</th>
          <th>Fecha</th>
          <th>Zona</th>
          <th>Terapeuta</th>
          <th>Tipo</th>
          <th>Check In</th>
          <th>Check Out</th>
          <th>Estatus</th>
          <th>Convertir a</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each sessions}}
        {{>AdminPastSessionsRow}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  {{>Loading}}
  {{/if}}
</template>