<template name="AdminSessionToTreatment">
  {{#if $not isTreatment}}
  <button id="session-to-treatment-button" type="button" class="btn btn-xs btn-pill btn-success">
    Circuito
  </button>
  {{/if}}
</template>