<template name="AdminPastSessionsRow">
  <tr>
    <td>{{>AdminClientHistoryButton id=sessionPatient.userId}}</td>
    <td>
      {{sessionPatient.firstname}} {{sessionPatient.lastname}}
    </td>
    <td>
      {{humanDate scheduledDate}}
    </td>
    <td>{{#if locationId}}{{locationName locationId}}{{/if}}</td>
    <td>{{sessionTherapist.firstname}} {{sessionTherapist.lastname}}</td>
    <td>{{prettySlug type}}</td>
    <td>
      {{#if checkInTime}}{{humanTime checkInTime}}{{/if}}
    </td>
    <td>
      {{#if checkOutTime}}{{humanTime checkOutTime}}{{/if}}
    </td>
    <td class="{{#if $eq status 'canceled'}}text-danger{{/if}}{{#if $eq status 'completed'}}text-success{{/if}}">
      {{prettyStatus status}}
    </td>
    <td>
      {{> AdminSessionToTreatment isTreatment=isTreatment sessionId=_id}}
    </td>
    <td>
      {{> RemoveButton collection="Sessions" id=_id}}
    </td>
  </tr>
</template>