<template name="AdminLocations">
  {{#if Template.subscriptionsReady}}
  {{> Dashhead title="Zonas" category="General" withAdd=true}}
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Abreviación</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each locations}}
        {{>AdminLocationsRow}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{> NewModal collection="Locations" }}
  {{> EditModal collection="Locations" editItem=editItem }}
  {{else}}
  {{>Loading}}
  {{/if}}
</template>