<template name="AdminLocationsRow">
  <tr>
    <td>{{name}}</td>
    <td>{{abbreviation}}</td>
    <td>
      {{>ActiveButton condition=active method="toggleActiveLocation" id=_id}}
    </td>
    <td>
      {{> EditButton id=_id}}
    </td>
    <td>
      {{> RemoveButton collection="Locations" id=_id}}
    </td>
  </tr>
</template>