<template name="BlogCard">
  <a href="{{pathFor 'blog-post' slug=slug}}">
    <div class="card">
      <img src="{{thumbnail}}" alt="" class="img-fluid">
      <!-- <img class="img-fluid" src="http://www.planetarioalfa.org.mx/sites/planetarioalfa.dd/files/styles/blog_image/public/hero/41983266465_760f51c5a0_o-3.jpg?itok=idF8alSc"
        alt="Card image cap"> -->
      <!-- <img class="card-img-top" 
        src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_166b2fdd2cd%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_166b2fdd2cd%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22118.0859375%22%20y%3D%2297.35%22%3E318x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          alt="Card image cap"> -->
      <div class="card-block">
        <h4 class="card-title text-primary">{{title}}</h4>
        <p class="card-text">{{description}}</p>
      </div>
    </div>
  </a>
</template>