<template name="BlogHome">
  <div class="blog">
    <section id="hero" class="hero">
      <figure class="hero-image m-0" id="blog-hero"></figure>
      <div class="hero-container py-4 py-lg-0">
        <div class="container d-flex justify-content-center align-items-center">
          <h1 class="font-weight-bold title">Blog</h1>
        </div>
      </div>
    </section>
    <div class="container my-5">
      <div class="blog-grid">
        {{#each posts}}
        {{>BlogCard}}
        {{/each}}
      </div>
      {{#if hasMore}}
      <div class="text-center mt-4">
        <button type="button" id="view-more-button" class="btn btn-pill btn-lg btn-primary">Ver Más</button>
      </div>
      {{/if}}
    </div>
  </div>
</template>