<template name="BlogPost">
  <div class="blog container my-5">
    <div class="row">
      <div class="col-md-9">
        <h5 class="font-italic text-center">BLOG</h5>
        <h1 class="text-center text-primary font-weight-bold">{{currPost.title}}</h1>
        <div class="my-5 text-center">
          <!-- <img src="http://www.planetarioalfa.org.mx/sites/planetarioalfa.dd/files/styles/blog_image/public/hero/41983266465_760f51c5a0_o-3.jpg?itok=idF8alSc"
            alt="" class="img-fluid"> -->
          <img src="{{currPost.thumbnail}}" alt="" class="img-fluid">
        </div>
        <div class="my-3">{{> lmSocialShare opts=opts}}</div>
        {{{currPost.body}}}
      </div>
      <div class="col-md-3">
        <h4 class="text-success font-weight-bold mb-3">Más populares</h4>
        <div class="blog-sidebar mb-4">
          {{#each popularPosts}}
          <div class="blog-sidebar-item mb-md-3">
            {{>BlogCard}}
          </div>
          {{/each}}
        </div>
        <h4 class="text-success font-weight-bold mb-3">Más recientes</h4>
        <div class="blog-sidebar">
          {{#each recentPosts}}
          <div class="blog-sidebar-item mb-md-3">
            {{>BlogCard}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>