<template name="Privacy">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="font-weight-bold my-5 text-center">
          Aviso de Privacidad
        </h4>
      </div>
    </div>
  </div>
</template>