.panel.panel-default {
  .panel-heading .panel-title {
    font-weight: 400;
    font-size: 22px;
  }
}

.promo-code-clipboard {
  cursor: pointer;
}

.assign-list-group {
  .list-group-item {
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    flex: 1;
    border-radius: 2px;

    &.selected {
      background-color: #a7b93517;
    }
  }
}

.assign-buttons {
  min-height: 70px;
}

.survey-options-container {
  margin: 5px;
  padding: 3px;
  cursor: pointer;

  &.selected {
    border: 1px solid $accent-color;
    background-color: #a7b93517;
    border-radius: 2px;
  }

  img {
    width: 40px;
  }
}

.diagram-img {
  max-height: 400px;
}

.ql-editor {
  height: 500px !important;
}

.thumb-preview {
  max-width: 100px;
  display: block;
}