.landing {
  background-color: #F6F6F5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.img-nav {
  height: 35px;

}

.navbar {
  // border-bottom: 1px solid #6f1fa454;
  // box-shadow: 1px 1px 1px #00000038;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #6f1fa4dd;
}

#landing-hero {
  background-image: url("https://habit.com/images/hero-images/hero-home-md.png");

  @include media-breakpoint-down(md) {
    background-image: url("https://habit.com/images/hero-images/hero-home-sm.png");
  }
}

#blog-hero {
  background-image: url("https://habit.com/images/hero-images/hero-testimonials-md.jpg");

  @include media-breakpoint-down(md) {
    background-image: url("https://habit.com/images/hero-images/hero-testimonials-sm.jpg");
  }
}

#pbi-hero {
  background-image: url("https://habit.com/images/hero-images/buy-ally-hero.jpg");
}

#cuerpo-hero {
  background-image: url("https://habit.com/images/hero-images/buy-ally-hero.jpg");
}

#corporal-hero {
  background-image: url("https://habit.com/images/hero-images/buy-ally-hero.jpg");
}

h3 {
  line-height: 1.3;
}

.hero {
  position: relative;

  .hero-image {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    @include media-breakpoint-down(md) {
      height: 270px;
      background-position: 50% 0;
      margin: 0;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        right: 0;
        left: 0;
        background-size: 100%;
        background-image: linear-gradient(rgba(255, 255, 255, 0) 0,
          rgba(255, 255, 255, 0) 50%,
          #fff 100%);
      }
    }
  }

  .hr-container {
    width: 100%;

    hr {
      border-width: 4px;
    }

  }

  .hero-container {
    background-color: $white;
  }

  .hero-description-big {
    font-weight: 700;
    font-size: xx-large;
  }

  @include media-breakpoint-up(lg) {
    height: 585px;

    .hero-container,
    .container,
    .row {
      background-color: transparent;
      height: 100%;
    }

    .hr-container {
      width: 25%;
    }

    .hero-image {
      position: absolute;
      height: 100%;
    }

    .hero-subtitle {
      line-height: 1.3;
    }
  }
}

.testimonials {
  .testimonials-container {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
  }

  .testimonials-control {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);

    $padding: -100px;

    &.left {
      left: $padding;
    }

    &.right {
      right: $padding;
    }

    span {
      font-size: 80px;
    }
  }

  .testimonial {
    max-width: 240px;

    img {
      cursor: pointer;
      transition: all, ease-out 0.3s;

      &.selected {
        transform: scale(1.5, 1.5);
        box-shadow: #44433d 0 0 10px;
      }
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .testimonial-name {
    text-transform: uppercase;
  }

  .testimonial-text {
    max-width: 700px;
    margin: 0 auto;

    &::before {
      content: '"';
    }

    &::after {
      content: '"';
    }
  }
}

video {
  max-width: 100%;
}

footer {
  border-top: 1px solid #eaeaea;

  .footer-item {
    &:not(:last-child)::after {
      content: "|";
      margin-left: 0.7rem;
      margin-right: 0.5rem;
    }
  }

  .footer-icons {
    a {
      width: 40px;
      height: 40px;
      border: 2px solid $primary-color;
      border-radius: 50%;

      &:last-child {
        margin-right: 0 !important;
      }

      svg {
        width: 90%;

        path {
          fill: $primary-color;
        }
      }
    }
  }
}

.steps-icon {
  width: 50px;
}

.accordion {
  .accordion-title {
    cursor: pointer;
  }
}

.register-modal {
  width: 840px;
  margin: 30px auto;

  .register-modal-inner {
    display: flex;
    height: 480px;

    .register-img {
      width: 440px;
    }

    .register-content {
      overflow: auto;
    }
  }
}

.landing-purchase-banner {
  width: 100%;
  color: $white;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
}

.blog {
  .hero {
    @include media-breakpoint-up(lg) {
      height: 300px;

      .title {
        font-size: 100px;
        color: $white;
      }
    }
  }

  .blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 18px 14px;
    flex-shrink: 0;
  }

  .blog-sidebar {
    display: flex;
    flex-direction: row;

    @media (max-width: 445px) {
      flex-wrap: wrap;
    }

    .blog-sidebar-item {
      height: 100%;

      &:not(:last-child) {
        margin-right: 10px;
      }

      .card {
        height: 100%;
      }
    }

    @include media-breakpoint-up(md) {
      flex-direction: column;

      .blog-sidebar-item {
        height: auto;

        &:not(:last-child) {
          margin-right: 0;
        }

        .card {
          height: auto;
        }
      }
    }
  }
}