.items-container {
  border: 1px solid $accentDeg1;
  width: fit-content;
  border-radius: 3px;
  overflow: hidden;

  button {
    border: none;
    background-color: #a7b93517;
    color: $accentDeg1;
    cursor: pointer;
    outline: none;

    &:not(:last-child) {
      border-right: 1px solid $accentDeg1;
    }

    &.selected {
      background-color: $accentDeg1;
      color: $white;
    }
  }
}