<template name="AdminProspectsRequests">
  {{#if Template.subscriptionsReady}}
  {{> Dashhead title="Prospectos" category="General"}}
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Fecha de solicitud</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each prospects}}
        {{>AdminProspectsRequestsRow}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{> EditModal collection="Prospects" editItem=editItem omitFields=editOmitFields }}
  {{else}}
  {{>Loading}}
  {{/if}}
</template>