<template name="Careers">
  <div class="container">
    <div class="row">
      {{> CareersHeader}}
      <div class="col-sm-12 col-md-8 offset-md-2 mb-5">
        <h5 class="font-weight-bold mb-4">¿Te interesa trabajar con nosotros y unirte a nuestro equipo?
          En caso de que no, te puedes registrar para próximas certificaciones para desarrollarte por tu cuenta!</h5>
        <div class="d-flex items-container mt-3 mb-3">
          <button type="button" class="toggle-careers-button p-3 {{#if isTherapist}}selected{{/if}}">
            <h5 class="font-weight-bold m-0">Si</h5>
          </button>
          <button type="button" class="toggle-careers-button p-3 {{#if $not isTherapist}}selected{{/if}}">
            <h5 class="font-weight-bold m-0">No</h5>
          </button>
        </div>
        {{#if isTherapist}}
        {{> quickForm
        collection='Therapists'
        id="insertTherapistForm"
        type="insert"
        buttonClasses="btn btn-pill btn-lg btn-success text-white careers-submit"
        buttonContent="Envíar"
        }}
        {{else}}
        {{> quickForm
        collection='Prospects'
        id="insertProspectForm"
        type="insert"
        buttonClasses="btn btn-pill btn-lg btn-success text-white careers-submit"
        buttonContent="Envíar"
        }}
        {{/if}}
      </div>
    </div>
  </div>
</template>