<template name="CareersSuccess">
  <div class="container">
    <div class="row">
      {{> CareersHeader}}
      <div class="col-sm-12 col-md-8 offset-md-2 mb-5">
        <h5 class="font-weight-bold mb-4">Felicidades, ya estamos procesando tu solicitud. ¡En breve te contactaremos!</h5>
      </div>
    </div>
  </div>
</template>