<template name="CareersHeader">
  <div class="col-12">
    <h1 class="font-weight-bold my-5 text-center">
      ¡Desarróllate como el mejor terapeuta Integral y colabora con nosotros!
    </h1>
  </div>
  <div class="col-sm-12 col-md-10 offset-md-1 mb-5">
    <h3 class="font-weight-bold">{{title}}</h3>
    {{#each data}}
    <h3 class="mb-4">{{emoji}} {{text}}</h3>
    {{/each}}
  </div>
</template>