<template name="AdminClientsRow">
  <tr>
    <td>
      {{>AdminClientHistoryButton id=userId}}
    </td>
    <td>{{firstname}} {{lastname}}</td>
    <td><a href="mailto:{{email}}">{{email}}</a></td>
    <td>{{#if phone}}<a href="tel:{{phone}}">{{phone}}</a>{{/if}}</td>
    <td>
      {{> AddressButton hasAddress=hasAddress address=address}}
    </td>
    <td>
      {{> EditButton id=_id}}
    </td>
    <td>
      {{> RemoveButton collection="Clients" id=_id}}
    </td>
  </tr>
</template>