<template name="AdminClients">
  {{#if Template.subscriptionsReady}}
  {{> Dashhead title="Clientes" category="General"}}
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each clients}}
        {{>AdminClientsRow}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{> EditModal collection="Clients" editItem=editItem }}
  {{else}}
  {{>Loading}}
  {{/if}}
</template>