$white: #fff;
$black: #1a1a1a;
$primary-color: #6f1fa4;
$accent-color: #aabd00;
$accent-dark-color: #5baa53;
$primary-deg-1: #59257b;
$primary-deg-2: #5b3b83;

.text-primary {
  color: $primary-color;
}

.text-success {
  color: $accent-dark-color;
}

.text-info {
  color: $accent-color;
}

.text-white {
  color: $white;
}

.font-weigth-bold {
  font-weight: 700;
}

.big {
  font-size: x-large;
}

body {
  font-family: 'Lucida Grande',
    'Lucida Sans',
    'Lucida Sans Unicode',
    Arial,
    Helvetica,
    Verdana,
    sans-serif;
  color: $black;
}

a {
  color: $primary-deg-1;

  &:hover {
    color: $primary-deg-2;
  }
}

.logo {
  height: 50px;
  padding: 20px 0 0 20px;
}

.align-left {
  text-align: left;
}

.p-5 {
  padding: 20px;
}

.footer {
  text-align: center;
}

.order-details {
  font-size: 16px;

  b {
    color: $accent-dark-color;
  }
}