<template name="Home">
  <section id="hero" class="hero">
    <figure class="hero-image m-0" id="landing-hero"></figure>
    <div class="hero-container py-4 py-lg-0">
      <div class="container text-center text-lg-left">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <h1>No solo te relajes. <br> <span class="font-weight-bold">Aprende a vivir relajadamente</span></h1>
            <div class="d-flex">
              <div class="hr-container">
                <hr class="my-3 my-lg-4">
              </div>
            </div>
            <h5 class="hero-subtitle font-weight-normal">¿Te imaginas recibir masaje en el que no solo te relajes sino
              también aprendas a incorporar Hábitos de Bienestar que te ayudan a vivir una vida relajada?</h5>
            <a href="{{pathFor 'purchase'}}" class="btn btn-pill btn-lg btn-success text-white mt-3 scroll-top">Comienza
              ahora</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-success py-4 py-lg-5">
    <div class="container">
      <h1 class="font-weight-bold text-center text-white">¡Regala la entrada a una Vida en Bienestar Integral!
      </h1>
      <h1 class="font-weight-bold text-center text-white">Certificados de Regalo</h1>
      <div class="text-center mt-4">
        <a href="{{pathFor 'gift-card'}}" class="btn btn-pill btn-lg btn-primary text-white scroll-top">Reserva</a>
      </div>
    </div>
  </section>
  <section id="productos">
    <div class="container mt-4 mt-lg-5">
      <div class="row">
        <div class="col-12 mb-4">
          <h1 class="font-weight-bold text-center">Comienza a hacer más cercana la relación con tu cuerpo HOY</h1>
        </div>
        {{#each products}}
        <div class="col-sm-6 col-md-5 {{#if $eq @index 0}}offset-md-1{{/if}} pb-4 pb-sm-0">
          {{>HomeProduct}}
        </div>
        {{/each}}
      </div>
    </div>
  </section>
  <section class="my-4 my-lg-5" id="comofunciona">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/260089865?title=0&byline=0&portrait=0&wmode=opaque"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-4 py-lg-5 bg-white" id="casosdeexito">
    {{> LandingTestimonials testimonials=testimonials title="Testimonios"}}
  </section>
  <section class="py-4 py-lg-5">
    <div class="container">
      <h1 class="font-weight-bold text-center">Nuestro Compromiso</h1>
      <h4 class="text-center mt-3">Somos un Instituto en donde ayudamos a las personas a
        incorporar hábitos de Bienestar en su Vida.</h4>
      <div class="d-flex justify-content-center mt-4">
        <video>
          <source src="/videos/presentacion.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
      </div>
      <div class="text-center mt-4">
        <a href="{{pathFor 'purchase'}}" class="btn btn-pill btn-lg btn-success scroll-top">Comienza Ahora</a>
      </div>
    </div>
  </section>
  {{> LandingTherapistsCTA}}
</template>