<template name="HomeProduct">
  <div class="card h-100 shadow justify-content-between">
    <img class="card-img-top img-fluid" src="{{landingInfo.image}}">
    <div class="card-body text-center p-3 h-100 d-flex flex-column justify-content-between">
      <h2 class="card-title font-weight-bold">{{title}}</h2>
      <p class="card-text">{{{landingInfo.description}}} </p>
      <div>
        <h6>Precio regular</h6>
        <h3 class="font-weight-bold">{{prettyPrice price}}</h3>
      </div>
      {{#if firstTimePrice}}
      <div>
        <h6 class="text-primary mt-2">Primera vez paga</h6>
        <h2 class="text-primary font-weight-bold">{{prettyPrice firstTimePrice}}</h2>
      </div>
      {{/if}}
      {{#if referencePrice}}
      <div>
        <h6 class="text-info mt-2">Comparte tu código y paga Hasta</h6>
        <h2 class="text-info font-weight-bold">{{prettyPrice referencePrice}}</h2>
      </div>
      {{/if}}
      <a href="{{pathFor landingInfo.pageRoute}}" class="btn btn-success mt-2 scroll-top">Reserva ahora</a>
    </div>
  </div>
</template>