<template name="TherapistCurrentSession">
  <div class="container text-center">
    <h2 class="text-info mb-4">Sesión en proceso</h2>
    <h3 class="text-primary mb-4">Cliente: <span class="font-weight-bold">{{ongoingSessionPatient.firstname}}
        {{ongoingSessionPatient.lastname}}</span></h3>
    <div class="mb-4">
      {{#if $not ongoingSession.checkInTime}}
      <h5 class="mb-4">Cuando estés con el cliente, haz click en el botón para iniciar la
        sesión</h5>
      {{> StartSessionButton}}
      {{else}}
      <h5 class="mb-4">Para ver el historial del cliente, <a href="{{pathFor 'therapist-patient-history' id=ongoingSessionPatient.userId}}"
          target="_blank">haz
          click aquí</a></h5>
      <h5 class="mb-4">Recuerda pedirle al cliente que finalice la sesión desde su cuenta, de lo contrario la sesión
        no
        se te contabilizará</h5>
      {{/if}}
    </div>
  </div>
</template>