<template name="ClientPromoCode">
  {{> Dashhead title="Código de Referencia" withHr=true primary=true}}
  <h3 class="mb-3">Comparte tu código de promoción y obtén excelentes descuentos en cada Circuito de Bienestar</h3>
  <div class="row">
    <div class="offset-sm-3 col-sm-6 offset-md-4 col-md-4">
      <div id="promoCodeBox" data-clipboard-text="{{promoCode.code}}" class="statcard statcard-success p-3 text-xs-center promo-code-clipboard">
        <h3 class="statcard-number">
          {{promoCode.code}}
        </h3>
        <span class="statcard-desc">Mi código de promoción</span>
      </div>
      <div class="text-center"> <strong class="text-muted">Haz click en el código para copiarlo</strong></div>
    </div>
  </div>
</template>