<template name="EditorNewPost">
  {{> Dashhead title="Nueva entrada" category="Blog"}}
  {{>EditorTemplate}}
  <button type="button" class="btn btn-pill btn-lg btn-primary mt-4 mb-4 scroll-top" id="create-blog-button">Publicar</button>
</template>