<template name="EditorBlogPosts">
  {{> Dashhead title="Todas las entradas" category="Blog"}}
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <th>Ver</th>
          <th>Editar</th>
          <th>Título</th>
          <th>Fecha</th>
          <th>Visitas</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each posts}}
        {{>EditorBlogPostsRow}}
        {{/each}}
      </tbody>
    </table>
  </div>
</template>