<template name="EditorEditPost">
  {{#if post}}
  {{> Dashhead title="Editar entrada" category="Blog"}}
  {{>EditorTemplate title=post.title text=post.body thumbnail=post.thumbnail description=post.description }}
  <button type="button" class="btn btn-pill btn-lg btn-primary mt-4 mb-4 scroll-top" id="update-blog-button">Guardar</button>
  {{/if}}
</template>