<template name="EditorTemplate">
  <div class="form-group">
    <label for="blog-title" class="control-label">Título</label>
    <input type="text" id="blog-title" class="form-control">
  </div>
  <div class="form-group">
    <label for="blog-description" class="control-label">Descripción</label>
    <textarea class="form-control" id="blog-description" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="blog-title" class="control-label">Contenido</label>
    <div id="toolbar-container">
      <span class="ql-formats">
        <select class="ql-size"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      </span>
      <span class="ql-formats">
        <select class="ql-color"></select>
        <select class="ql-background"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-script" value="sub"></button>
        <button class="ql-script" value="super"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-header" value="1"></button>
        <button class="ql-header" value="2"></button>
        <button class="ql-blockquote"></button>
        <button class="ql-code-block"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
        <button class="ql-indent" value="-1"></button>
        <button class="ql-indent" value="+1"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-direction" value="rtl"></button>
        <select class="ql-align"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-link"></button>
        <button class="ql-image"></button>
        <button class="ql-video"></button>
        <button class="ql-formula"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-clean"></button>
      </span>
    </div>
    <!-- Create the editor container -->
    <div id="editor">

    </div>
  </div>
  <div class="form-group">
    <label for="blog-thumbnail-image">Imágen de portada</label>
    {{#if $.Session.get 'blogThumbnail'}}
    Hola
    <img class="thumb-preview mb-3" src="{{$.Session.get 'blogThumbnail'}}" />
    {{/if}}
    <input type="file" class="form-control-file" id="blog-thumbnail-image" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">Tamaño ideal de la imágen</small>
  </div>
</template>