<template name="EditorBlogPostsRow">
  <tr>
    <td>
      <a href="{{pathFor 'blog-post' slug=slug}}" target="_blank" class="btn btn-xs btn btn-outline-primary">
        <span class="icon icon-eye"></span>
      </a>
    </td>
    <td>
      <a href="{{pathFor 'editor-edit-post' id=_id}}" class="btn btn-xs btn btn-outline-primary">
        <span class="icon icon-pencil"></span>
      </a>
    </td>
    <td>
      {{title}}
    </td>
    <td>{{humanDate createdAt}}</td>
    <td>{{views}}</td>
    <td>
      {{> RemoveButton collection="Posts" id=_id}}
    </td>
  </tr>
</template>