<template name="LandingPurchase">
  {{ redirect }}
  <div class="landing-purchase-banner bg-primary color-white scroll-top" id="button-go-gift-card">
    <div class="container">
      ¿Quieres regalar un masaje a alguien especial? Haz click aquí parar
      adquirir un <strong>certificado de regalo</strong>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 my-5">
        <h1 class="font-weight-bold text-center">
          ¡Felicidades por hacer del bienestar una prioridad!
        </h1>
      </div>
      <div class="col-sm-12 col-md-8 offset-md-2 mb-5">{{> Purchase}}</div>
    </div>
  </div>
</template>