<template name="LandingGiftCard">
  {{ redirect }}
  <div class="container">
    <div class="row">
      <div class="col-12 my-5">
        <h1 class="font-weight-bold text-center">Certificado de Regalo</h1>
        <h3 class="text-center">
          Comparte esta gran experiencia con los que más quieres
        </h3>
      </div>
      {{#if $.Session.get 'successPurchase'}}
      <div class="col mt-5">
        <h3 class="text-center text-primary font-weight-bold">¡Felicidades tu certificado ha sido autorizado!</h3>
        <h4 class="text-center">Hemos envíado un email con el código del certificado de regalo. Para cualquier
          inconveniente, por favor
          contáctanos en <a href="mailto:admin@abrilbienestarintegral.com">admin@abrilbienestarintegral.com</a></h4>
      </div>
      {{else}}
      <div class="col-sm-12 col-md-8 offset-md-2 mb-5">
        <h5 class="font-weight-normal">Selecciona el monto del certificado</h5>
        <div class="d-flex items-container mt-3 mb-3">
          {{#each prices}} {{>LandingGiftCardItem}} {{/each}}
          <button type="button" class="p-3 {{#if $.Session.equals 'giftCardFixed' false}}selected{{/if}}" id="gift-card-other-button">
            <h5 class="font-weight-bold m-0">Otra cantidad</h5>
          </button>
        </div>
        {{#if $.Session.get 'giftCardProduct'}}
        <p class="font-weight-light font-italic">Equivale a: {{$.Session.get 'giftCardProduct'}}</p>
        {{/if}}
        {{#if $.Session.equals 'giftCardFixed' false}}
        <h5 class="font-weight-normal">Monto del certificado</h5>
        <input type="number" class="form-control form-control-lg mb-2 mr-sm-2" id="gift-card-amount">
        {{/if}}
        <h5 class="font-weight-normal">Email de destinatario</h5>
        <p class="font-weight-light font-italic">
          Es importante que verifiques este email porque ahí recibirás el código del certificado de regalo
        </p>
        <input type="email" class="form-control form-control-lg mb-2 mr-sm-2" id="gift-card-email">
        <h5 class="font-weight-normal">Enviado por: (Opcional)</h5>
        <input type="text" class="form-control form-control-lg mb-2 mr-sm-2" id="gift-card-name">
        <h5 class="font-weight-normal">Email del comprador:</h5>
        <p class="font-weight-light font-italic">
          Por motivos de seguridad, requerimos el email de la persona que realiza la compra. Esta información es
          exclusivamente para fines de validar la transacción.
        </p>
        <input type="email" class="form-control form-control-lg mb-2 mr-sm-2" id="gift-card-cardholder-email">
        {{> PurchaseCreditCard}}
        <h5 class="font-weight-normal mt-2 mb-2">Total</h5>
        <button type="button" id="pay-gift-card-button" class="btn btn-lg btn-pill btn-primary mt-3 mb-5 scroll-top"
          {{isDisabled}}>
          Pagar {{#if $.Session.get 'giftCardAmount'}}{{prettyPrice ($.Session.get 'giftCardAmount')}}{{/if}}
        </button>
      </div>
      {{/if}}
    </div>
  </div>
</template>

<template name="LandingGiftCardItem">
  <button type="button" class="p-3 {{#if $and ($.Session.equals 'giftCardAmount' price) ($.Session.get 'giftCardFixed')}}selected{{/if}}"
    id="gift-card-button">
    <h5 class="font-weight-bold m-0">{{prettyPrice price}}</h5>
  </button>
</template>