<template name="SuccessPurchase">
  <div class="container my-4 my-lg-5">
    <div class="mb-4 mb-lg-5">
      <h1 class="font-weight-bold text-center">Felicidades! Tu orden ha sido exitosa</h1>
      <h3 class="text-center">Texto secundario</h3>
    </div>

    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 mb-4 mb-lg-5">
        <ul class="list-group">
          <li class="list-group-header">
            <h3 class="text-primary text-center m-0 font-weight-bold">Resumen de tu orden</h3>
          </li>
          {{#each $.Session.get 'orderSummary'}}
          <li class="list-group-item">
            <h5><span class="font-weight-normal text-primary">{{label}}: </span>
              {{#if $eq type 'price'}}
              {{prettyPrice value}}
              {{else}}
              {{#if $eq type 'date'}}
              {{humanDatetimeF value "DD/MM/YYYY k:mm"}}
              {{else}}
              {{value}}
              {{/if}}
              {{/if}}
            </h5>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="mb-4 mb-lg-5">
      <h3 class="text-center">Ahora puedes ingresar <a href="{{pathFor 'login'}}" class="scroll-top font-weight-bold">aquí</a>
        a tu
        cuenta. Ahí podrás ver el seguimiento de tu Circuito de Masajes, reagendar y ganar excelentes descuentos.</h3>
    </div>
  </div>
</template>