<template name="BienestarCorporal">
  {{>ProductHero
  heroId="corporal-hero"
  title="Bienestar Corporativo"
  text=heroText
  buttonText="Cotizar"
  }}
  <section class="my-4 my-lg-5">
    <div class="container">
      <h1 class="font-weight-bold text-center mb-4 mb-lg-5">Beneficios</h1>
      <div class="row">
        {{#each benefits}}
        <div class="col-sm-6">
          <h3 class="font-weight-bold">{{title}}</h3>
          {{#each data}}
          <h3 class="">- {{this}}</h3>
          {{/each}}
        </div>
        {{/each}}
        <div class="col-12 col-md-10 offset-md-1 mt-4">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/260089865?title=0&byline=0&portrait=0&wmode=opaque"
              allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-12 text-center mt-4">
          <button type="button" data-toggle="modal" data-target="#corporal-registro" class="btn btn-pill btn-lg btn-success text-white">Comienza
            ahora</button>
        </div>
      </div>
    </div>
  </section>
  {{>LandingRegisterModal
  id="corporal-registro"
  image="https://d9hhrg4mnvzow.cloudfront.net/14559facecef4130babaf6867c556519.pages.ubembed.com/2183c298-50a6-4af2-a35c-3733c18716a0/8b54762b-banner-images-0004-rachel-with-biomarkers-lr_1qy0qo0og0qo0j8000.jpg"
  title="¡Felicidades por hacer del bienestar una prioridad, tu negocio lo agradecerá!"
  fields=regiserFields
  }}
</template>