<template name="CuerpoMente">
  {{>ProductHero
  heroId="cuerpo-hero"
  title=product.landingInfo.heroTitle
  text=product.landingInfo.heroBody
  }}
  {{#if product.landingInfo.steps}}
  {{>ProductSteps steps=product.landingInfo.steps}}
  {{/if}}
  {{#if product.landingInfo.testimonials }}
  <section class="py-4 py-lg-5 bg-white">
    {{> LandingTestimonials testimonials=product.landingInfo.testimonials title="Testimonios"}}
  </section>
  {{/if}}
  {{#if product.landingInfo.faq}}
  {{> ProductFAQ faq=product.landingInfo.faq}}
  {{/if}}
  <section class="bg-primary py-4 py-lg-5">
    <div class="container">
      <h1 class="font-weight-bold text-center text-white">¿Quieres profundizar en los mensajes que tu cuerpo tiene para
        ti?</h1>
      <!-- <h4 class="text-center mt-3 text-white">Prueba <a href="{{pathFor 'pbi'}}">Experiencia de Bienestar Integral ®</a></h4> -->
      <div class="text-center mt-4">
        <a href="{{pathFor 'pbi'}}" class="hidden-xs-down btn btn-pill btn-lg btn-success text-white scroll-top">
          Prueba Nuestro Programa Bienestar Integral ®
        </a>
        <a href="{{pathFor 'pbi'}}" class="hidden-sm-up btn btn-pill btn btn-success text-white scroll-top">
          Prueba Nuestro Programa Bienestar Integral ®
        </a>
      </div>
    </div>
  </section>
</template>