<template name="PBI">
  {{>ProductHero
  heroId="pbi-hero"
  title=product.landingInfo.heroTitle
  text=product.landingInfo.heroBody
  }}
  {{#if product.landingInfo.steps}}
  {{>ProductSteps steps=product.landingInfo.steps}}
  {{/if}}
  {{#if product.landingInfo.testimonials }}
  <section class="py-4 py-lg-5 bg-white">
    {{> LandingTestimonials testimonials=product.landingInfo.testimonials title="Testimonios"}}
  </section>
  {{/if}}
  {{#if product.landingInfo.faq}}
  {{> ProductFAQ faq=product.landingInfo.faq}}
  {{/if}}
</template>