<template name="ProductSteps">
  <section class="my-4 my-lg-5">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-4">
          <h1 class="font-weight-bold text-center">¿Cómo funciona?</h1>
        </div>
        {{#each steps}}
        <div class="col-sm-6 col-md-3 text-center">
          <img src="{{icon}}" class="steps-icon mb-3">
          <h5 class="font-weight-bold">{{title}}</h5>
          <p>{{{text}}}</p>
        </div>
        {{/each}}
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-pill btn-lg btn-success text-white mt-3 scroll-top" id="hero-button">Comienza
              ahora</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>