<template name="ProductFAQ">
  <section class="my-4 my-lg-5">
    <div class="container">
      <h1 class="font-weight-bold text-center mb-4 mb-lg-5">Preguntas Frecuentes</h1>
      <div class="row">
        <div class="col-sm-8">
          {{#each faq}}
          <div class="accordion" id="accordion-faq">
            <div class="mb-2">
              <h5 class="font-weight-bold accordion-title" data-toggle="collapse" data-target="#faq-collapse-{{@index}}">
                {{question}}
              </h5>
              <div id="faq-collapse-{{@index}}" class="collapse ml-3" data-parent="#accordion-faq">
                {{answer}}
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        <div class="col-sm-4">
          <h5 class="font-weight-normal">¿Tienes más preguntas?</h5>
          <p>Contáctanos en <a href="mailto:admin@abrilbienestarintegral.com">admin@abrilbienestarintegral.com</a> </p>
        </div>
      </div>
      <div class="text-center mt-4">
        <button type="button" class="btn btn-pill btn-lg btn-success text-white mt-3" id="hero-button">
          Comienza Ahora
        </button>
      </div>
    </div>
  </section>
</template>