<template name="ProductHero">
  <section id="hero" class="hero">
    <figure class="hero-image m-0" id="{{heroId}}"></figure>
    <div class="hero-container py-4 py-lg-0">
      <div class="container text-center text-lg-left">
        <div class="row align-items-center">
          <div class="offset-lg-6 col-lg-6">
            <h3 class="font-weight-bold">{{title}}</h3>
            <div class="d-flex">
              <div class="hr-container">
                <hr class="my-3 my-lg-4">
              </div>
            </div>
            <h5 class="hero-subtitle font-weight-normal">{{{text}}}</h5>
            <button type="button" class="btn btn-pill btn-lg btn-success text-white mt-3" id="hero-button">
              {{#if buttonText}}
              {{buttonText}}
              {{else}}
              Reserva
              {{/if}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>