<template name="ClientCurrentSession">
  <div class="container text-center">
    {{#if ongoingSession.checkInSurvey}}
    <h2 class="text-info mb-4">{{client.firstname}}, ¡Felicidades por hacer del Bienestar una Prioridad!</h2>
    <h5 class="mb-4">Al finalizar la sesión, haz click en el botón para medir tus resultados :)</h5>
    <button type="button" class="btn btn-pill btn-primary" id="finish-session-button">Finalizar la sesión</button>
    {{else}}
    <h2 class="text-info mb-4">¿De qué manera puedes conservar este estado de bienestar sólo más posible? </h2>
    <h5 class="mb-4">Para iniciar tu sesión y conocerte más, contesta esta breve encuesta</h5>
    <button type="button" class="btn btn-pill btn-primary" id="start-session-button">Comenzar la sesión</button>
    {{/if}}
  </div>
  <div class="modal" id="start-survey-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title block-subtitle text-primary">
            {{#if ongoingSession.checkInSurvey}}
            Check Out
            {{else}}
            Check In
            {{/if}}
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          {{#each questions}}
          {{> ClientCurrentSessionQuestion}}
          {{/each}}
          {{#if ongoingSession.checkInSurvey}}
          <h5 class="font-weight-normal">Práctica de Hoy</h5>
          <div>
            <input type="text" class="form-control form-control-lg mb-2 mr-sm-2" id="practice-input">
          </div>
          {{/if}}
          <button type="button" id="start-survey-button" class="btn btn-pill btn-primary">
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</template>