<template name="ClientCurrentSessionQuestion">
  <h5 class="font-weight-normal">{{label}}</h5>
  {{#if options}}
  <div>
    <div class="d-flex flex-wrap">
      {{#each options}}
      {{>ClientCurrentSessionQuestionOption}}
      {{/each}}
    </div>
  </div>
  {{else}}
  <div>
    <input type="text" class="form-control form-control-lg mb-2 mr-sm-2" id="{{slug}}-input">
  </div>
  {{/if}}
</template>

<template name="ClientCurrentSessionQuestionOption">
  <div class="d-flex align-items-center justify-content-center flex-column survey-options-container {{#if selectedItem}}selected{{/if}}"
    id="option-item">
    <img src="{{icon}}" alt="">
    <div>{{label}}</div>
  </div>
</template>