<template name="AdminAdminsRow">
  <tr>
    <td>{{profile.firstname}} {{profile.lastname}}</td>
    <td>
      {{>ActiveButton
      condition=isSuperadmin
      textOn="Si"
      textOff="No"
      disabled=true
      }}
    </td>
    <td>
      {{>ActiveButton
      condition=isAdmin
      textOn="Si"
      textOff="No"
      method="toggleAdminRole"
      id=_id
      }}
    </td>
    <td>
      {{>ActiveButton
      condition=isEditor
      textOn="Si"
      textOff="No"
      method="toggleEditorRole"
      id=_id
      }}
    </td>
  </tr>
</template>