<template name="AdminAdmins">
  {{#if Template.subscriptionsReady}}
  {{> Dashhead title="Administradores" category="General"}}
  <p class="font-italic">
    Para agregar adminisitradores, enviar este link: <span class="text-info font-weight-bold">{{adminLink}}</span> y
    este código: <span class="text-info font-weight-bold">{{adminCode}}</span>
    <button id="refresh-button" type="button" class="btn btn-xs btn btn-outline-info ml-3">
      <span class="icon icon-cw"></span>
    </button></p>
  <p class="font-italic">
    Los usuarios con permiso mayor, pueden hacer todas las funciones de los permisos inferiores. Es decir, un
    superadmin es también un editor, pero con más permisos. La escala de permisos en orden descendente es: Superadmin,
    Admin, Editor </p>
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Superadmin</th>
          <th>Admin</th>
          <th>Editor</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        {{>AdminAdminsRow}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  {{>Loading}}
  {{/if}}
</template>