<template name="AdminCurrentTherapistsRow">
  <tr>
    <td>
      {{>TherapistInfoButton therapist=this}}
    </td>
    <td>{{firstname}} {{lastname}}</td>
    <td><a href="mailto:{{email}}">{{email}}</a></td>
    <td>
      {{>ActiveButton condition=active method="toggleActiveTherapist" id=_id}}
    </td>
    <td>
      {{> EditButton id=_id}}
    </td>
    <td>
      {{> RemoveButton collection="Therapists" id=_id}}
    </td>
  </tr>
</template>