<template name="AdminTherapistsRequests">
  {{#if Template.subscriptionsReady}}
  {{> Dashhead title="Solicitudes de Terapeutas" category="General"}}
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Email</th>
          <th></th>
          <th>Fecha de solicitud</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each therapists}}
        {{>AdminTherapistsRequestsRow}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{> EditModal collection="Therapists" editItem=editItem omitFields=editOmitFields }}
  {{else}}
  {{>Loading}}
  {{/if}}
</template>