<template name="TherapistLayout">
  {{#if currentUser}}
  {{#if isInRole 'therapist'}}
  <div class="container-fluid mt-5">
    <div class="row">
      {{> Sidebar elements=sidebarElements}}
      {{#if Template.subscriptionsReady}}
      <div class="col-md-9 content">
        {{#if $and ongoingSession ($not (isActiveRoute 'therapist-patient-history'))}}
        {{>TherapistCurrentSession}}
        {{else}}
        {{#if readySession}}
        <div class="jumbotron bg-success p-4 mb-3 text-white">
          <div class="container">
            <h4 class="font-weight-bold">Tienes una sesión lista para iniciar</h4>
            <p class="lead font-weight-normal">Cuando estés con el cliente, haz click en el botón para iniciar la
              sesión</p>
            {{> StartSessionButton}}
          </div>
        </div>
        {{/if}}
        {{> Template.dynamic template=main}}
        {{/if}}
      </div>
      {{/if}}
    </div>
  </div>
  {{else}}
  {{ redirectToAdmin }}
  {{/if}}
  {{else}}
  {{>Forbidden}}
  {{/if}}
</template>