<template name="ClientProfile">
  {{#if client}}
  <h2 class="text-primary font-weight-normal">Hola {{client.firstname}}!</h2>
  {{#if getLength client.treatments}}
  <h3 class="mb-4">Bienvenid@ a tu Historial de Sesiones</h3>
  {{#if currentTreatment}}
  <div class="mb-4">
    <h4 class="text-info">Acumulado de descuentos:
      <span class="text-primary font-weight-bold">{{prettyPrice (accumulatedDiscount client
        currentTreatmentProduct)}}</span>
    </h4>
    <h4 class="text-info">Comparte tu código para obtener más: <a href="{{pathFor 'client-promo-code'}}">Click aquí</a>
    </h4>
  </div>
  <div class="row">
    <div class="col-sm-8">
      {{> ClientGoal }}
      {{#if $and questionsBeforeData questionsAfterData}}
      <h4 class="text-success">Generalmente <span class="font-weight-bold">antes</span> de masaje</h4>
      <div class="row">
        {{#each questionsBeforeData}}
        {{#if result}}
        <div class="col-sm-6 col-md-4">
          <h5 class="text-primary"><span>{{label}}</span> <span class="font-weight-bold">{{result}}</span></h5>
        </div>
        {{/if}}
        {{/each}}
      </div>
      <div class="text-center my-4">
        <img src="/img/diagrama1.jpeg" class="diagram-img img-fluid">
      </div>
      <h4 class="text-success">Generalmente <span class="font-weight-bold">después</span> de masaje</h4>
      <div class="row">
        {{#each questionsAfterData}}
        {{#if result}}
        <div class="col-sm-6 col-md-4">
          <h5 class="text-primary"><span>{{label}}</span> <span class="font-weight-bold">{{result}}</span></h5>
        </div>
        {{/if}}
        {{/each}}
      </div>
      <hr>
      {{/if}}
      <h4 class="text-success">Te encuentras ahora en el <span class="font-weight-bold">Circuito {{currLevel}}</span></h4>
      <div class="text-center my-4">
        <img src="/img/diagrama2.jpeg" class="diagram-img img-fluid">
      </div>
    </div>
    <div class="col-sm-4">
      <h5 class="text-primary font-weight-bold">Próxima sesión</h5>
      {{#each nextSession}}
      {{> PatientHistoryCard}}
      {{/each}}
    </div>
  </div>
  {{else}}
  <!-- Purchase other treatment -->
  {{/if}}
  {{else}}
  {{#if hasPendingSessions}}
  <h3 class="mb-3">Tus próximas sesiones</h3>
  <div class="row">
    {{#each pendingSessions}}
    <div class="col-sm-6 col-md-4">
      {{> PatientHistoryCard}}
    </div>
    {{/each}}
  </div>
  {{else}}
  <h3 class="text-success mt-4">
    Aún no tienes ninguna sesión agendada.
  </h3>
  <a class="btn btn-lg btn-pill btn-success mt-4" href="{{pathFor 'client-purchase'}}">Reserva ahora</a>
  {{/if}}
  {{/if}}
  {{else}}
  {{>Loading}}
  {{/if}}
</template>