<template name="ClientGoal">
  <div class="jumbotron bg-primary p-3 mb-3 text-white">
    <div class="container">
      <h5>
        <span class="font-italic font-weight-light">Objetivo: </span>
        <span class="font-weight-normal">{{#if currentTreatment.goal}}{{currentTreatment.goal}}{{else}}No ha sido
          establecido{{/if}}</span>
        {{#if $not currentTreatment.goal}}
        <button type="button" class="btn btn-xs btn-pill btn-info" id="set-goal-button">Establecer</button>
        {{/if}}
      </h5>
      <h5>
        <span class="font-italic font-weight-light">Fecha de inicio: </span>
        <span class="font-weight-normal">{{humanDate currentTreatment.startDate}}</span>
      </h5>
    </div>
  </div>
  <div class="modal" id="set-goal-modal">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title block-subtitle text-primary">Objetivo del circuito</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <p class="mb-3">Indica cual será tu objetivo con este circuito</p>
          <div class="mb-3">
            <input id="set-goal-input" class="form-control">
          </div>
          <button type="button" id="set-goal-save-button" class="btn btn-pill btn-primary">
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</template>