<template name="ClientGiftCard">
  {{> Dashhead title="Certificados de Regalo" withHr=true primary=true}}
  <h3 class="mb-3">Tu saldo de certificado de regalo es:
    <span class="font-weight-bold text-primary">{{prettyPrice client.giftCardAmount}}</span>
  </h3>
  <h5 class="mt-3">Recuerda que puedes adquirir certificados de regalo <a href="{{pathFor 'gift-card'}}">aquí</a></h5>
  <div class="row">
    <div class="col-12 mt-5">
      <h5 class="font-weight-normal text-primary">¿Tienes un certificado de regalo? Ingresa el código ahora</h5>
    </div>
    <div class="col-md-6 col-sm-7">
      <input type="text" class="form-control form-control-lg mb-2 mr-sm-2" id="client-gift-card">
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-lg btn-pill btn-primary" id="client-add-gift">
        Validar
      </button>
    </div>
  </div>
</template>